<div class="admin_wrapper">
    <div class="left-sidebar">
        <ul>
            <li><a href="/topics">Manage Topics</a></li>
            <li><a href="/dashboard">Manage Posts</a></li>
            <li><a href="/my-shops">Manage Shop</a></li>
            <li><a href="#">Manage Tutorials</a></li>
            <li><a href="/team">Manage Team Members</a></li>
            <li><a href="/faq">Manage Faqs</a></li>
        </ul>
    </div>
    <div class="admin-content">
        <div class="button-group">
            <a href="/add-shop" class="btn admin-btn">Add New Items</a>
            <a href="/my-shops" class="btn admin-btn">Manage Items</a>
        </div>

        <div class="content">
            <h2 class="page-title">Add New Items</h2>

            <% if(messages.error){ %>
                <ul class="error">
                    <li><%= messages.error %></li>
                </ul>
            <% } %>
           
            <form action="/add-shop" method="POST" enctype="multipart/form-data" class="add-post">

                <div class="input-box">
                    <label for="name">Item Name</label>
                    <input type="text" name="name" class="text-input" >
                </div>

                <div class="input-box">
                    <label for="description">Item Description</label>
                    <textarea name="description" id="body" cols="50" rows="5"></textarea>
                </div>

                <div class="input-box">
                    <label for="oldPrice">Old Price</label>
                    <input type="text" name="oldPrice" class="text-input" >
                </div>

                <div class="input-box">
                    <label for="newPrice">New Price</label>
                    <input type="text" name="newPrice" class="text-input" >
                </div>

                <div class="input-box">
                    <label for="image">Image of item</label>
                    <input type="file" name="image" id="img-input" class="text-input">
                </div>

                <div>
                    <input type="submit" class="btn btn-primary" value="Add Item">
                </div>
            </form>

        </div>
    </div>
</div>
