<div class="admin_wrapper">
    <div class="left-sidebar">
        <ul>
            <li><a href="/topics">Manage Topics</a></li>
            <li><a href="/dashboard">Manage Posts</a></li>
            <li><a href="/my-shops">Manage Shop</a></li>
            <li><a href="#">Manage Tutorials</a></li>
            <li><a href="/team">Manage Team Members</a></li>
            <li><a href="/faq">Manage Faqs</a></li>
        </ul>
    </div>
    <div class="admin-content">
        <div class="button-group">
            <a href="/add-topic" class="btn admin-btn">Add New Topic</a>
            <a href="/topics" class="btn admin-btn">Manage Topics</a>
        </div>

        <div class="content">
            <h2 class="page-title">Edit Topic</h2>

            <form action="/delete-topic/<%= topic._id %>?_method=DELETE" method="post">
                <button type="submit" class="btn admin-btn">Delete this topic</button>
            </form>

            <% if(messages.error){ %>
                <ul class="error">
                    <li><%= messages.error %></li>
                </ul>
            <% } %>
           
            <form action="/edit-topic/<%= topic._id %>" method="POST"  class="add-post">

                <div>
                    <label for="name">Name of Topic</label>
                    <input type="text" name="name" class="text-input" value="<%= topic.name %>">
                </div>
              
                <div>
                    <input type="submit" class="btn" value="Update Topic">
                </div>
            </form>

        </div>
    </div>

</div>

