

<div class="auth-content contact">
    <% if(messages.error){ %>
        <ul class="error">
            <li><%= messages.error %></li>
        </ul>
        <% } %>

    <% if(messages.success){ %>
        <ul class="success">
            <li><%= messages.success %></li>
        </ul>
        <% } %>
        
    <form action="/admin/login" method="post">

      <h2 class="heading">Sign in</h2>

        <h3>Enter your account credentials to log in</h3>

        <div class="input-box">
            <label for="username"><b>Username</b></label>
        <input type="text" name="username" id="" placeholder="Enter Username">
        </div>
        <div class="input-box">
            <label for="passwword">Password</label>
            <input type="password" name="password" id="" placeholder="Enter Password">
        </div>
        
    
        <button type="submit" class="btn btn-primary">Sign In</button>

        <p><a href="/forgot-password">Forgot Password</a></p>

        <p>Or <a href="/register">Sign Up</a></p>
    </form>

</div>


