<div class="auth-content contact">
    <div class="container">
        <h2>Reset Password</h2>
        <% if (messages.error) { %>
          <div class="alert alert-danger" role="alert">
            <%= messages.error %>
          </div>
        <% } %>
        <form action="/reset-password/<%= token %>" method="post">
            <h3>Enter your New Password</h3>
          <div class="input-box">
            <label for="password">New Password:</label>
            <input type="password" id="password" name="password" class="form-control" required>
          </div>
          <div class="input-box">
            <label for="confirmPassword">Confirm New Password:</label>
            <input type="password" id="confirmPassword" name="confirmPassword" class="form-control" required>
          </div>
          <button type="submit" class="btn btn-primary">Reset Password</button>
        </form>
      </div>
</div>