<footer class="footer">
    <div class="upper-section">
      <h2>
        Ready to get started?
      </h2>
      <p>Join a class and learn how to swim today.</p>
    </div>
    <div class="middle-section">
      <div class="logo-footer">
        <h1>SWIMWORLD</h1>
        <p>Simplifying Swimming from its Principless.</p>
      </div>
      <div class="contacts">
        <h3>Reach us</h3>
        <div class="c-details">
          <a href="#">
            <i class='bx bx-home'></i> &nbsp; Head branch: Swimming pool section (Time2play Juniour School), Kulambiro lane, Najeera. 5 minutes off Kulambiro lane.
          </a>
          <a href="tel:+256740384876">
            <i class='bx bx-phone'></i> &nbsp; +256 705 164400 or +256 786 853656
          </a>
          <a href="mailto:phinicxd@gmail.com?subject=I%20want%20to%20hire%20you"> <i class='bx bx-envelope'></i> &nbsp;info@swimworld.ug</a> 
        </div>
      </div>
      <div class="social-media">
        <div class="socials">
          <a href="https://www.facebook.com/asio.noah" target="_blank"><i class='bx bxl-facebook'></i></a>
          <a href="https://twitter.com/asizynoah" target="_blank"><i class='bx bxl-twitter'></i></a>
          <a href="https://www.youtube.com/channel/UCPr4eONoW3N1JmlwC82buzA" target="_blank"><i class='bx bxl-youtube'></i></a>
          <a href="https://www.linkedin.com/in/asiomizu-noah-19b91127a" target="_blank"><i class='bx bxl-linkedin'></i></a>
      </div>
      </div>
      
    </div>
    <div class="footer-btm">
      <div class="footer-iconTop">
          <a href="#top"><i class='bx bx-up-arrow-alt'></i></a>
      </div>
      <div class="footer-text">
          <p>Copyright &copy; 2023; by Asizy | All rights Reserved.</p>
      </div>
  </div>
  </footer>