<header class="header">
    <!-- Top Section -->
    <div class="top-section">
      <div class="top-section-nav">
        <div class="top-section-nav-item language-dropdown">
            <!-- Language Dropdown -->
            <select>
              <option value="en-us" selected>English (US)</option>
              <!-- <option value="fr">French</option> -->
            </select>
        </div>
          <div class="top-section-nav-item sign-in-button">
            <button><a href="/login">Sign In</a></button>
          </div>
      </div>
    </div>

    <nav-bar class="main-header">

      <!-- Bottom Section -->
      <div class="bottom-section">
        <div class="logo">
          <p>Mr.FISHWORLD</p>
        </div>
            
        <div class="menu">
          <i class='bx bx-menu'></i>
        </div>

        <!-- Navigation Links -->
        <ul class="main-nav">
          <li><a href="/">Home</a></li>
          <li><a href="tutorials">Tutorials</a></li>
          <li><a href="shop">Shop</a></li>
          <li><a href="blogs">Blogs</a></li>
          <li><a href="about">About</a></li>
          <button class="btn-blue" onclick="openForm()"><a href="#">Join Lessons</a></button>
        </ul>
      </div>
    </nav-bar>
  </header>