<section class="about">
    <div class="instructor-content">
       <div class="instructor-text">
        <h1>Meet <span>Our Team</span> at SIMWORLD</h1>
        <h3>Qualified and Experienced Instructors</h3>
        <p>
            With experience of over 5 years and dedicated trainers with both Lifesaving skills and swimming training skills, we are certified by FINA as a level 1 coaches. We have a good acumen of various swimming styles such as Freestyle, back stroke, Breast stroke, and
            Butterfly. Additionally, our team has strong organizational and communication
            skills, motivational and inspirational experience.
            </p>
       </div>
    </div>

    <div class="team-container">
        <div class="team-members">
              <div class="team-member">
                <img src="/Img/moses.jpeg"  alt="Moses">
                <div class="svg">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#1DA1F2" fill-opacity="1" d="M0,192L30,202.7C60,213,120,235,180,229.3C240,224,300,192,360,149.3C420,107,480,53,540,69.3C600,85,660,171,720,218.7C780,267,840,277,900,261.3C960,245,1020,203,1080,165.3C1140,128,1200,96,1260,106.7C1320,117,1380,171,1410,197.3L1440,224L1440,320L1410,320C1380,320,1320,320,1260,320C1200,320,1140,320,1080,320C1020,320,960,320,900,320C840,320,780,320,720,320C660,320,600,320,540,320C480,320,420,320,360,320C300,320,240,320,180,320C120,320,60,320,30,320L0,320Z"></path></svg>
                  </div>
                  <h4>Mr Mutyaba Moses</h4>
                  <p>CEO</p>
              </div>
              <div class="team-member">
                <img src="/Img/moses.jpeg"  alt="Moses">
                <div class="svg">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#1DA1F2" fill-opacity="1" d="M0,192L30,202.7C60,213,120,235,180,229.3C240,224,300,192,360,149.3C420,107,480,53,540,69.3C600,85,660,171,720,218.7C780,267,840,277,900,261.3C960,245,1020,203,1080,165.3C1140,128,1200,96,1260,106.7C1320,117,1380,171,1410,197.3L1440,224L1440,320L1410,320C1380,320,1320,320,1260,320C1200,320,1140,320,1080,320C1020,320,960,320,900,320C840,320,780,320,720,320C660,320,600,320,540,320C480,320,420,320,360,320C300,320,240,320,180,320C120,320,60,320,30,320L0,320Z"></path></svg>
                  </div>
                <h4>Mr Rovine Ronald</h4>
                <p>Head Coah</p>
                <a href="tel:+256740384876" class="report-link" target="_blank">Contact Moses</a>
              </div>
              <div class="team-member">
                <img src="/Img/noah.jfif"  alt="Moses">
                <div class="svg">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#1DA1F2" fill-opacity="1" d="M0,192L30,202.7C60,213,120,235,180,229.3C240,224,300,192,360,149.3C420,107,480,53,540,69.3C600,85,660,171,720,218.7C780,267,840,277,900,261.3C960,245,1020,203,1080,165.3C1140,128,1200,96,1260,106.7C1320,117,1380,171,1410,197.3L1440,224L1440,320L1410,320C1380,320,1320,320,1260,320C1200,320,1140,320,1080,320C1020,320,960,320,900,320C840,320,780,320,720,320C660,320,600,320,540,320C480,320,420,320,360,320C300,320,240,320,180,320C120,320,60,320,30,320L0,320Z"></path></svg>
                  </div>
                <h4>Mr Noah</h4>
                <p>Website Manager</p>
                <a href="tel:+256740384876" class="report-link" target="_blank">Contact Noah</a>
              </div>
        </div>
  </div>

    
</section>

<div class="about-content">

    <div class="certificate one">
        <img src="/Img/fina-coaches.jpg"  alt="Fina Coaches Programme">
        <img src="/Img/swim-safe-ug.jfif" alt="Swim Safe Uganda">
        <img src="/Img/life-saving-assoc-ug.jpg" alt="Life Saving Association Uganda">
        <img src="/Img/nile-voc-ins.png" alt="Nile Vocational Institute">
    </div>

    <h1>About Mr.FISHWORLD</h1>
    <div class="about-content-item-container start">
        <div class="about-content-item">
            <div class="img">
                <img src="/Img/s-pool.png" alt="">
            </div>
            <div class="info">
                <h3>Why Swim World?</h3>
                <p>
                    At Swim World, we are able to design training programs, evaluate swimmer's weaknesses
                    and strength on their techniques. We are well experienced in studying swimmers psychology to be able
                    motivate and inspire them through their emotional intelligence so as to extract their maximum
                    potential in a fun way.
                </p>
            </div>
        </div>
    </div>
    <div class="about-content-item-container end">
        <div class="about-content-item">
            <div class="img">
                <img src="/Img/s-pool.png" alt="">
            </div>
            <div class="info">
                <h3>Training Philosophy</h3>
                <p>
                    Our philosophy is based on ensuring swimmer's stay in the sport, find it fun, as they learn to
                    chase bigger goals in the water world, from their mentors , swimming icons, competitive
                    world records, career choices etcetera.
                </p>
            </div>
        </div>
    </div>
    <div class="about-content-item-container start">
        <div class="about-content-item">
            <div class="img">
                <img src="/Img/s-pool.png" alt="">
            </div>
            <div class="info">
                <h3>Commitment to safety of clients</h3>
                <p>Ensuring the safety and well-being of our swimmers is our top priority. We are committed to maintaining a secure and supportive environment, implementing rigorous safety measures, and providing expert supervision to ensure that every individual can enjoy the water with confidence and peace of mind.</p>
            </div>
        </div>
    </div>
    <div class="about-content-item-container end">
        <div class="about-content-item">
            <div class="img">
                <img src="/Img/s-pool.png" alt="">
            </div>
            <div class="info">
                <h3>Dedication</h3>
                <p>We are dedicated to fostering a positive and enriching swimming experience for individuals of all ages. Our commitment lies in creating a welcoming and supportive atmosphere, tailoring our instruction to meet diverse needs, and instilling a lifelong love for swimming.</p>
            </div>
        </div>
    </div>
    
</div>