<section class="about">
    <div class="instructor-content">
        <img src="/Img/moses.jfif" alt="Moses">
       <div class="instructor-text">
        <h1>Meet <span>Moses</span></h1>
        <h3> A Qualified and Certified Swimming Instructor</h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur porro deserunt aliquid molestias, fuga ad. Nostrum aspernatur impedit ipsam eaque quae? Eius deserunt maxime animi, quibusdam molestias earum voluptatum voluptas, repellendus inventore, corrupti neque porro aspernatur repellat odio deleniti cumque </p>
        <button class="button">Talk to Moses</button>
       </div>
    </div>

    
</section>

<div class="about-content">

    <div class="certificate one">
        <img src="/Img/fina-coaches.jpg"  alt="Fina Coaches Programme">
        <img src="/Img/swim-safe-ug.jfif" alt="Swim Safe Uganda">
        <img src="/Img/life-saving-assoc-ug.jpg" alt="Life Saving Association Uganda">
        <img src="/Img/nile-voc-ins.png" alt="Nile Vocational Institute">
    </div>

    <h1>About Mr.FISHWORLD</h1>
    <div class="about-content-item-container start">
        <div class="about-content-item">
            <div class="img">
                <img src="/Img/s-pool.png" alt="">
            </div>
            <div class="info">
                <h3>Lorem, ipsum.</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempora laborum autem illum consequuntur, quibusdam, perferendis ullam, amet dignissimos omnis necessitatibus quod.</p>
            </div>
        </div>
    </div>
    <div class="about-content-item-container end">
        <div class="about-content-item">
            <div class="img">
                <img src="/Img/s-pool.png" alt="">
            </div>
            <div class="info">
                <h3>Lorem, ipsum.</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempora laborum autem illum consequuntur, quibusdam, perferendis ullam, amet dignissimos omnis necessitatibus quod.</p>
            </div>
        </div>
    </div>
    <div class="about-content-item-container start">
        <div class="about-content-item">
            <div class="img">
                <img src="/Img/s-pool.png" alt="">
            </div>
            <div class="info">
                <h3>Lorem, ipsum.</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempora laborum autem illum consequuntur, quibusdam, perferendis ullam, amet dignissimos omnis necessitatibus quod.</p>
            </div>
        </div>
    </div>
    <div class="about-content-item-container end">
        <div class="about-content-item">
            <div class="img">
                <img src="/Img/s-pool.png" alt="">
            </div>
            <div class="info">
                <h3>Lorem, ipsum.</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempora laborum autem illum consequuntur, quibusdam, perferendis ullam, amet dignissimos omnis necessitatibus quod.</p>
            </div>
        </div>
    </div>
    
</div>