
<div class="hero">
  <div class="hero-bg"></div>
  <img src="Img/home.jpg" alt="">
  <div class="overlay">
    <h1>Our Swimming Blogs</h1>
  </div>
</div> 

<section class="about">
    <div class="instructor-content">
       <div class="instructor-text">
        <h1>Welcome to <span>Mr.FISHWORLD</span> Blogs</h1>
        <h3> Exited for our blog posts? This section is comimg soon!</h3>
       </div>
    </div>

    
</section>