
<div class="hero">
  <div class="hero-bg"></div>
  <img src="Img/home.jpg" alt="">
  <div class="overlay">
    <h1>Our Swimming Blogs</h1>
  </div>
</div> 

<div class="main-blog">

  <div class="blog-wrapper">
      <!-- Trending post carousel -->
      <div class="blogs">
          <div class="trending-post">
              <h2 class="trending">Most Recent Posts</h1>
  
                  <div id="header-carousel" class="carousel slide carousel-fade mb-30 mb-lg-0" data-ride="carousel">
                              
                              
                      <div class="owl-carousel owl-theme">
  
                          <div class="post">
                              <div class="img">
                                  <img src="/Img/home.jpg" alt="Swimming">
                              </div>
                              <div class="post-info">
                                  <div class="topic">
                                      <h5>FITNESS & WELLNESS</h5>
                                  </div>
                                  <div class="more-post-info">
                                      <h2>CAN YOU SWIM WITH CONTACTS, AND WHAT ARE THE RISKS?111</h2>
                                      <p>
                                          If you wear contact lenses, you might wonder, “Can you swim with contacts?” The FDA makes it clear that you should not expose contact lenses to any type of water, …
                                      </p>
                                      <div class="author-date">
                                          <i class='bx bx-user'>Coach Moses</i> 
                                          <i class='bx bxs-calendar'>02-Jan-2024</i>
                                      </div>
                                      <div class="read-more"><a href="#">Read More</a><i class='bx bx-link-external'></i></div>
                                  </div>
                              </div>
                          </div>
  
                          <div class="post">
                              <div class="img">
                                  <img src="/Img/swimming-equipment.webp" alt="Swimming">
                              </div>
                              <div class="post-info">
                                  <div class="topic">
                                      <h5>EQUIPMENT & GEAR</h5>
                                  </div>
                                  <div class="more-post-info">
                                      <h2>WHAT GEAR IS BEST FOR SWIMMING IN COLD WEATHER?</h2>
                                      <p>
                                          If you wear contact lenses, you might wonder, “Can you swim with contacts?” The FDA makes it clear that you should not expose contact lenses to any type of water, …
                                      </p>
                                      <div class="author-date">
                                          <i class='bx bx-user'>Coach Moses</i> 
                                          <i class='bx bxs-calendar'>08-Jan-2025</i>
                                      </div>
                                      <div class="read-more"><a href="#">Read More</a><i class='bx bx-link-external'></i></div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      </div>
          </div>
          <div class="other-posts">
              <div class="post">
                  <div class="img">
                      <img src="/Img/home.jpg" alt="Swimming">
                  </div>
                  <div class="post-info">
                      <div class="topic">
                          <h5>FITNESS & WELLNESS</h5>
                      </div>
                      <div class="more-post-info">
                          <h2>CAN YOU SWIM WITH CONTACTS, AND WHAT ARE THE RISKS?</h2>
                          <p>
                              If you wear contact lenses, you might wonder, “Can you swim with contacts?” The FDA makes it clear that you should not expose contact lenses to any type of water, …
                          </p>
                          <div class="author-date">
                              <i class='bx bx-user'>Coach Moses</i> 
                              <i class='bx bxs-calendar'>02-Jan-2024</i>
                          </div>
                          <div class="read-more"><a href="#">Read More</a><i class='bx bx-link-external'></i></div>
                      </div>
                  </div>
              </div>
              <div class="post">
                  <div class="img">
                      <img src="/Img/home.jpg" alt="Swimming">
                  </div>
                  <div class="post-info">
                      <div class="topic">
                          <h5>FITNESS & WELLNESS</h5>
                      </div>
                      <div class="more-post-info">
                          <h2>CAN YOU SWIM WITH CONTACTS, AND WHAT ARE THE RISKS?</h2>
                          <p>
                              If you wear contact lenses, you might wonder, “Can you swim with contacts?” The FDA makes it clear that you should not expose contact lenses to any type of water, …
                          </p>
                          <div class="author-date">
                              <i class='bx bx-user'>Coach Moses</i> 
                              <i class='bx bxs-calendar'>02-Jan-2024</i>
                          </div>
                          <div class="read-more"><a href="#">Read More</a><i class='bx bx-link-external'></i></div>
                      </div>
                  </div>
              </div>
              <div class="post">
                  <div class="img">
                      <img src="/Img/home.jpg" alt="Swimming">
                  </div>
                  <div class="post-info">
                      <div class="topic">
                          <h5>FITNESS & WELLNESS</h5>
                      </div>
                      <div class="more-post-info">
                          <h2>CAN YOU SWIM WITH CONTACTS, AND WHAT ARE THE RISKS?</h2>
                          <p>
                              If you wear contact lenses, you might wonder, “Can you swim with contacts?” The FDA makes it clear that you should not expose contact lenses to any type of water, …
                          </p>
                          <div class="author-date">
                              <i class='bx bx-user'>Coach Moses</i> 
                              <i class='bx bxs-calendar'>02-Jan-2024</i>
                          </div>
                          <div class="read-more"><a href="#">Read More</a><i class='bx bx-link-external'></i></div>
                      </div>
                  </div>
              </div>
              <div class="post">
                  <div class="img">
                      <img src="/Img/home.jpg" alt="Swimming">
                  </div>
                  <div class="post-info">
                      <div class="topic">
                          <h5>FITNESS & WELLNESS</h5>
                      </div>
                      <div class="more-post-info">
                          <h2>CAN YOU SWIM WITH CONTACTS, AND WHAT ARE THE RISKS?</h2>
                          <p>
                              If you wear contact lenses, you might wonder, “Can you swim with contacts?” The FDA makes it clear that you should not expose contact lenses to any type of water, …
                          </p>
                          <div class="author-date">
                              <i class='bx bx-user'>Coach Moses</i> 
                              <i class='bx bxs-calendar'>02-Jan-2024</i>
                          </div>
                          <div class="read-more"><a href="#">Read More</a><i class='bx bx-link-external'></i></div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="post-nav">
              <div class="prev">
                  <a href="#"><i class='bx bx-skip-previous' >Prev Page</i></a>
              </div>
  
              <div class="next">
                  <a href="#"><i class='bx bx-skip-next'>Next Page</i></a>
              </div>
          </div>
      </div>
  
      <div class="blogs-side-bar">
          <div class="popular-posts">
              <h2>Most popular Posts</h2>
              <div class="popular-post">
                  <div class="img">
                      <img src="/Img/home.jpg" alt="">
                  </div>
          
                  <div class="popular-post-info">
                      <h3><a href="#">CAN YOU SWIM WITH CONTACTS, AND WHAT ARE THE RISKS?</a></h3>
                      <i class='bx bxs-calendar'>02-Jan-2024</i>
                  </div>
              </div>
              <div class="popular-post">
                  <div class="img">
                      <img src="/Img/home.jpg" alt="">
                  </div>
          
                  <div class="popular-post-info">
                      <h3><a href="#">CAN YOU SWIM WITH CONTACTS, AND WHAT ARE THE RISKS?</a></h3>
                      <i class='bx bxs-calendar'>02-Jan-2024</i>
                  </div>
              </div>
              <div class="popular-post">
                  <div class="img">
                      <img src="/Img/home.jpg" alt="">
                  </div>
          
                  <div class="popular-post-info">
                      <h3><a href="#">CAN YOU SWIM WITH CONTACTS, AND WHAT ARE THE RISKS?</a></h3>
                      <i class='bx bxs-calendar'>02-Jan-2024</i>
                  </div>
              </div>
              <div class="popular-post">
                  <div class="img">
                      <img src="/Img/home.jpg" alt="">
                  </div>
          
                  <div class="popular-post-info">
                      <h3><a href="#">CAN YOU SWIM WITH CONTACTS, AND WHAT ARE THE RISKS?</a></h3>
                      <i class='bx bxs-calendar'>02-Jan-2024</i>
                  </div>
              </div>
              <div class="popular-post">
                  <div class="img">
                      <img src="/Img/home.jpg" alt="">
                  </div>
          
                  <div class="popular-post-info">
                      <h3><a href="#">CAN YOU SWIM WITH CONTACTS, AND WHAT ARE THE RISKS?</a></h3>
                      <i class='bx bxs-calendar'>02-Jan-2024</i>
                  </div>
              </div>
          </div>
  
          <div class="topics">
              <h2>Topics</h2>
              <div class="topic">
                  <h3><a href="#">FITNESS & WELLNESS</a></h3>
                  <h3><a href="#">FITNESS & WELLNESS</a></h3>
                  <h3><a href="#">FITNESS & WELLNESS</a></h3>
                  <h3><a href="#">FITNESS & WELLNESS</a></h3>
                  <h3><a href="#">FITNESS & WELLNESS</a></h3>
                  <h3><a href="#">FITNESS & WELLNESS</a></h3>
                  <h3><a href="#">FITNESS & WELLNESS</a></h3>
              </div>
          </div>
      </div>
  
  </div>