  <div class="modal" id="plan-adult">
    <div class="form-container">
      <div class="cost">
        <span>55,000 USHs per Adult</span>
      </div>
      <span class="close-btn" onclick="closeForm()">&times;</span>
      <form id="lessonForm">
        <h3>Please provide your information to help us understand you better.</h3>
        <div class="form-input">
          <fieldset>
            <legend>Personal Information</legend>
              <div class="input-box">
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" required>
              </div>
        
              <div class="input-box">
                <label for="phone">Phone Number:</label>
                <input type="tel" id="phone" name="phone" required>
              </div>
        
              <div class="input-box">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
              </div>
          </fieldset>
  
            <fieldset>
              <legend>Swim Plan Information</legend>
              <div class="input-box">
                <label for="lessonTime">Preferred Lesson Time</label>
                <select>
                <option value="en-us" selected>Morning(10:00AM - 12:00PM)</option>
                <option value="fr">Morning(10:00AM - 12:00PM)</option>
                <option value="fr">Evening(02:00AM - 04:00PM)</option>
              </select>
              </div>
        
              <div class="input-box">
                <label for="location">Preferred Training Location:</label>
                  <select>
                  <option value="en-us" selected>Swimworld SWimming pool</option>
                  <option value="fr">Swimworld SWimming pool</option>
                  <option value="fr">Pool of my choice</option>
                </select>
              </div>
              </div>
            </fieldset>
        </div>

        <button type="button" onclick="submitForm()">Submit</button>
      </form>
    </div>
  </div>

  <div class="modal" id="plan-kid">
    <div class="form-container">
      <div class="cost">
        <span>55,000 USHs per Kid</span>
      </div>
      <span class="close-btn" onclick="closeForm()">&times;</span>
      <form id="lessonForm">
        <h3>Please provide your information to help us understand you better.</h3>
        <div class="form-input">
          <fieldset>
            <legend>Personal Information</legend>
              <div class="input-box">
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" required>
              </div>
        
              <div class="input-box">
                <label for="phone">Phone Number:</label>
                <input type="tel" id="phone" name="phone" required>
              </div>
        
              <div class="input-box">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
              </div>
          </fieldset>
  
            <fieldset>
              <legend>Swim Plan Information</legend>
              <div class="input-box">
                <label for="lessonTime">Preferred Lesson Time</label>
                <select>
                <option value="en-us" selected>Morning(10:00AM - 12:00PM)</option>
                <option value="fr">Morning(10:00AM - 12:00PM)</option>
                <option value="fr">Evening(02:00AM - 04:00PM)</option>
              </select>
              </div>
        
              <div class="input-box">
                <label for="location">Preferred Training Location:</label>
                  <select>
                  <option value="en-us" selected>Swimworld SWimming pool</option>
                  <option value="fr">Swimworld SWimming pool</option>
                  <option value="fr">Pool of my choice</option>
                </select>
              </div>
            </fieldset>
        </div>

        <button type="button" onclick="submitForm()">Submit</button>
      </form>
    </div>
  </div>
  
  


<main>
  <div class="hero">
    <div class="hero-bg"></div>
    <img src="Img/home.jpg" alt="">
    <div class="overlay">
      <h1>Mr.FISHWORLD</h1>
      <p>Swimming Lessons, Swimming Carrier Courses, Swimming Equipments and Medical Swimming Therapies.</p>
      <button class="btn-blue"><a href="#lessons">View Plans</a></button>
    </div>
  </div>

  <div class="loop">
    <span>Simplifying Swimming from its Principless</span>
  </div>
  

  
  <section class="venue">
      
      <div class="venue-header">
        <h2>Are you a school owner wanting to organise a Swimming Galla or weekly swimming lessons</h2>
        <p>SWIMWORLD offers swimming lessons for schools once in a week at negotiable amounts per child. We also organise swimming events like galas for schools at negotiable prices.</p>

        <div class="contact-btns">
          <button class="trans contact-btn" onclick="openFormSchool()"><a href="#">Book with Us</a></button>
        </div>
      </div>

      <div class="people-carousel">
        <h2>Past Events</h2>
        <i class='bx bx-chevron-left prev'></i>
        <i class='bx bx-chevron-right next'></i>
        <div class="venue-container">
          <div class="venue-item">
            <div class="img">
              <img src="/Img/s-pool.png" alt="Mr Fish World Swimming pool">
            </div>
            <div class="info">
              <h3>Lugogo Junior School Swimming Gala, 2023</h3>
            </div>
          </div>

          <div class="venue-item">
            <div class="img">
              <img src="/Img/s-pool.png" alt="Mr Fish World Swimming pool">
            </div>
            <div class="info">
              <h3>Lugogo Junior School Swimming Gala, 2023</h3>
            </div>
          </div>

          <div class="venue-item">
            <div class="img">
              <img src="/Img/s-pool.png" alt="Mr Fish World Swimming pool">
            </div>
            <div class="info">
              <h3>Lugogo Junior School Swimming Gala, 2023</h3>
            </div>
          </div>
        </div>
           
    
      </div>
      
      <div class="wave wave1"></div>
      <div class="wave wave2"></div>
      <div class="wave wave3"></div>
      <div class="wave wave4"></div>
      
    </section>

    <div class="crash-course" id="lessons">
      <div class="crash-course-header">
        <h2>Learn how to swim Whether old or young.</h2>
        <p>At Mr.FISHWORLD, it doest matter if you are young or old. We narture the passion for swimming in all age brackets. We offer flexible smimming plans at 75,000 USHs per week and 300,000 USHs per month for 3days  week. </p>
      </div>
      <div class="course-container">
        <div class="course">
          <i class='bx bx-swim'></i>
          <div class="info">
            <h3>Swimming Plans for Adults</h3>
            <button class="trans" onclick="openFormAdult()"><a href="#">Join</a></button>
          </div>
        </div>
        <div class="course">
          <i class='bx bx-swim'></i>
          <div class="info">
            <h3>Swimming Plans for Kids</h3>
            <button class="trans" onclick="openFormKid()"><a href="#">Join</a></button>
          </div>
        </div>
        <div class="course">
          <i class='bx bx-swim'></i>
          <div class="info">
            <h3>Swimming Plans for Schools</h3>
            <button class="trans" onclick="openFormSchool()"><a href="#planSchool">Join</a></button>
          </div>
        </div>
        <div class="course">
          <i class='bx bx-swim'></i>
          <div class="info">
            <h3>Medical Swimming Therapy</h3>
            <button class="trans" onclick="openForm()"><a href="#">Join</a></button>
          </div>
        </div>
      </div>
    </div>


  <div class="training-stories">
    <div class="wave-d wave1"></div>
    <div class="wave-d wave2"></div>
    <div class="wave-d wave3"></div>
    <div class="wave-d wave4"></div>

    <div class="certificate">
      <img src="/Img/fina-coaches.jpg"  alt="Fina Coaches Programme">
      <img src="/Img/swim-safe-ug.jfif" alt="Swim Safe Uganda">
      <img src="/Img/life-saving-assoc-ug.jpg" alt="Life Saving Association Uganda">
      <img src="/Img/nile-voc-ins.png" alt="Nile Vocational Institute">
    </div>
    <!-- Video Loop -->
    <div class="video-loop">
        <!-- Add your looped video source here -->
        <video autoplay loop muted>
          <source src="/video/swim-video.mp4" type="video/mp4">
          Your browser does not support the video tag.
      </video>

      <!-- Overlay with Text and Play Button -->
      <div class="overlay">
          <h1>Trainee Stories</h1>
          <button class="play-button" onclick="openVideoPlayer()">&#9654; Play</button>
      </div>
    </div>

    <!-- Carousel for Trained People -->
      <div class="people-carousel">
        <h2>More Trainee Stories</h2>
        <i class='bx bx-chevron-left prev'></i>
        <i class='bx bx-chevron-right next'></i>
        <div class="story-carousel">
            <!-- Carousel content goes here -->
            <div class="story-carousel-item">
                <!-- Person 1 -->
                <img src="/Img/home.jpg" alt="Person 1">
                <div class="info">
                  <h3>Mis Immeria</h3>
                  <p>Trained in: 2023</p>
                  <button class="trans"><a href="#">Read Story</a></button>
                </div>
            </div>
            <div class="story-carousel-item">
                <!-- Person 1 -->
                <img src="/Img/home.jpg" alt="Person 1">
                <div class="info">
                  <h3>Mis Immeria</h3>
                  <p>Trained in: 2023</p>
                  <button class="trans"><a href="#">Read Story</a></button>
                </div>
            </div>
            <div class="story-carousel-item">
                <!-- Person 1 -->
                <img src="/Img/home.jpg" alt="Person 1">
                <div class="info">
                  <h3>Mis Immeria</h3>
                  <p>Trained in: 2023</p>
                  <button class="trans"><a href="#">Read Story</a></button>
                </div>
            </div>
            <div class="story-carousel-item">
                <!-- Person 1 -->
                <img src="/Img/home.jpg" alt="Person 1">
                <div class="info">
                  <h3>Mis Immeria</h3>
                  <p>Trained in: 2023</p>
                  <button class="trans"><a href="#">Read Story</a></button>
                </div>
            </div>
            <div class="story-carousel-item">
                <!-- Person 1 -->
                <img src="/Img/home.jpg" alt="Person 1">
                <div class="info">
                  <h3>Mis Immeria</h3>
                  <p>Trained in: 2023</p>
                  <button class="trans"><a href="#">Read Story</a></button>
                </div>
            </div>
            <div class="story-carousel-item">
                <!-- Person 1 -->
                <img src="/Img/home.jpg" alt="Person 1">
                <div class="info">
                  <h3>Mis Immeria</h3>
                  <p>Trained in: 2023</p>
                  <button class="trans"><a href="#">Read Story</a></button>
                </div>
            </div>

            <!-- Add more carousel items for additional trained people -->
      </div>

      <div class="video-player-container" id="videoPlayerContainer">
        <!-- Video Player -->
        <video controls autoplay loop muted class="video-player" controls controlslist="nodownload nofullscreen noremoteplayback">
            <source src="/video/swim-video.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        <!-- Close Button -->
        <span class="close-button" onclick="closeVideoPlayer()">&times;</span>
      </div>
    
  </div>
</div>

<div class="contact-info">

  <div class="numbers">

    <div class="info">
      <h1>1000+</h1>
      <p>People Trained</p>
    </div>
    <div class="info">
      <h1>5+</h1>
      <p>Years in this Proffession</p>
    </div>
  </div> 

  <div class="info">
    <h2>Picked interest in any of Swimworld's Services or Confused about anything? </h2>
    <div class="contact-btns">
      <button class="trans contact-btn"><a href="tel:+256705164400">Contact Mr Fish World</a></button>
    </div>
  </div>
</div>

<div class="equip">
  <div class="equip-header">
    <h2>Need Supply for Good Quality Swimming Equipment?</h2>
    <p>Just like pursuing any other passion, best equipment and gear simplify and enhances swimming endurance, technique and strength. At SWIMWORLD, we have swim suits, goggles, swim caps, kickboards, hand paddles and many others at affordable prices</p>
  </div>
  <div class="equip-container">
    <div class="equip-item">
      <div class="img">
        <img src="/Img/swimming-equipment.webp" alt="Swimming equipments">
      </div>
      <div class="info">
        <h3>All proffessional swimming gear</h3>
        <button class="trans"><a href="shop">Shop</a></button>
      </div>
    </div>
  </div>
</div>


<div class="review">
  <div class="review-slider">
    <h2>What people say</h2>
    <div class="slider">
        <!-- Carousel content goes here -->
        <div class="slider-item">
            <div class="info">
              <i class='bx bx-user-circle'></i>
              <h3>Imeria jane</h3>
            </div>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Earum, ipsam. Eveniet, beatae.</p>
        </div>
        <div class="slider-item">
            <div class="info">
              <i class='bx bx-user-circle'></i>
              <h3>Imeria jane</h3>
            </div>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Earum, ipsam. Eveniet, beatae.</p>
        </div>
        <div class="slider-item">
            <div class="info">
              <i class='bx bx-user-circle'></i>
              <h3>Imeria jane</h3>
            </div>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Earum, ipsam. Eveniet, beatae.</p>
        </div>
        <div class="slider-item">
            <div class="info">
              <i class='bx bx-user-circle'></i>
              <h3>Imeria jane</h3>
            </div>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Earum, ipsam. Eveniet, beatae.</p>
        </div>
        <div class="slider-item">
            <div class="info">
              <i class='bx bx-user-circle'></i>
              <h3>Imeria jane</h3>
            </div>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Earum, ipsam. Eveniet, beatae.</p>
        </div>
        <div class="slider-item">
            <div class="info">
              <i class='bx bx-user-circle'></i>
              <h3>Imeria jane</h3>
            </div>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Earum, ipsam. Eveniet, beatae.</p>
        </div>
       

        <!-- Add more carousel items for additional trained people -->
  </div>
</div>