<div class="modal" id="plan-adult">
  <div class="form-container">
    <div class="cost">
      <span>55,000 USHs per Adult</span>
    </div>
    <span class="close-btn" onclick="closeFormAdult()">&times;</span>
    <form id="lessonForm" action="/send-email" method="post">
      <div class="form-input">
        <fieldset>
          <legend>Personal Information</legend>
            <div class="input-box">
              <label for="name">Name:</label>
              <input type="text" id="name" name="name" required>
            </div>
      
            <div class="input-box">
              <label for="phone">Phone Number:</label>
              <input type="tel" id="phone" name="phone" required>
            </div>
      
            <div class="input-box">
              <label for="email">Email:</label>
              <input type="email" id="email" name="email" required>
            </div>
        </fieldset>

          <fieldset>
            <legend>Swim Plan Information</legend>
            <div class="input-box">
              <label for="lessonTime">Preferred Lesson Time</label>
              <select name="lessonTime">
              <option value="en-us" selected>Morning(10:00AM - 12:00PM)</option>
              <option value="fr">Morning(10:00AM - 12:00PM)</option>
              <option value="fr">Evening(02:00AM - 04:00PM)</option>
            </select>
            </div>
      
            <div class="input-box">
              <label for="location">Preferred Training Location:</label>
                <select>
                <option value="en-us" selected>Swimworld SWimming pool</option>
                <option value="fr">Swimworld SWimming pool</option>
                <option value="fr">Pool of my choice</option>
              </select>
            </div>
          </fieldset>
      </div>

      <button type="submit" onclick="submitFormAdult()">Submit</button>
    </form>
  </div>
</div>

  <div class="modal" id="plan-kid">
    <div class="form-container">
      <div class="cost">
        <span>55,000 USHs per Kid</span>
      </div>
      <span class="close-btn" onclick="closeFormKid()">&times;</span>
      <form id="lessonForm" action="/send-email" method="post">
        <div class="form-input">
          <fieldset>
            <legend>Personal Information</legend>
              <div class="input-box">
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" required>
              </div>
        
              <div class="input-box">
                <label for="phone">Phone Number:</label>
                <input type="tel" id="phone" name="phone" required>
              </div>
        
              <div class="input-box">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
              </div>
          </fieldset>
  
            <fieldset>
              <legend>Swim Plan Information</legend>
              <div class="input-box">
                <label for="lessonTime">Preferred Lesson Time</label>
                <select name="lessonTime">
                <option value="en-us" selected>Morning(10:00AM - 12:00PM)</option>
                <option value="fr">Morning(10:00AM - 12:00PM)</option>
                <option value="fr">Evening(02:00AM - 04:00PM)</option>
              </select>
              </div>
        
              <div class="input-box">
                <label for="location">Preferred Training Location:</label>
                  <select name="location">
                  <option value="en-us" selected>Swimworld SWimming pool</option>
                  <option value="fr">Swimworld SWimming pool</option>
                  <option value="fr">Pool of my choice</option>
                </select>
              </div>
            </fieldset>
        </div>

        <button type="submit" onclick="submitFormKid()">Submit</button>
      </form>
    </div>
  </div>
  
  <div class="modal " id="plan-school">
    <div class="form-container">
      <div class="cost">
        <span>5,000 USHs per child</span>
      </div>
      <span class="close-btn" onclick="closeForm()">&times;</span>
      <form id="lessonForm" action="/send-email" method="post">
        <div class="form-input">
          <fieldset>
            <legend>School Information</legend>
              <div class="input-box">
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" required>
              </div>
        
              <div class="input-box">
                <label for="phone">Phone Number:</label>
                <input type="tel" id="phone" name="phone" required>
              </div>
        
              <div class="input-box">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
              </div>
          </fieldset>
  
            <fieldset>
              <legend>Swim Plan Information</legend>
              <div class="input-box">
                <label for="lessonDay">Preferred Day</label>
                <select name="lessonDay">
                <option value="en-us" selected>Monday</option>
                <option value="fr">Monday</option>
                <option value="fr">Wednesday</option>
                <option value="fr">Friday</option>
              </select>
              </div>

              <div class="input-box">
                <label for="lessonTime">Preferred Lesson Time</label>
                <select name="lessonTime">
                <option value="en-us" selected>Morning(10:00AM - 12:00PM)</option>
                <option value="fr">Morning(10:00AM - 12:00PM)</option>
                <option value="fr">Evening(02:00AM - 04:00PM)</option>
              </select>
              </div>
            </fieldset>
        </div>

        <button type="submit" onclick="submitForm()">Submit</button>
      </form>
    </div>
  </div>


<main>
  <div class="hero">
    <div class="hero-bg"></div>
    <img src="Img/home.jpeg" alt="">
    <div class="overlay">
      <h1>SWIMWORLDUG</h1>
      <p>Swimming Lessons, Swimming Carrier Courses, Swimming Equipments and Medical Swimming Therapies.</p>
      <button class="btn-hero"><a href="#lessons">View Plans</a></button>
    </div>
  </div>

  <div class="loop">
    <span>Simplifying Swimming from its Principless</span>
  </div>
  

  
  <section class="venue">
      
      <div class="venue-header">
        <h2>Are you a school owner planning to organise a Swimming Galla or weekly swimming lessons in Uganda</h2>
        <p>SWIMWORLDUG offers swimming lessons in Uganda for schools once in a week at negotiable amounts per child. We also organise swimming events like gallas for schools at negotiable prices.</p>

        <div class="contact-btns">
          <button class="btn-venue" onclick="openFormSchool()"><a href="#">Hire Us</a></button>
        </div>
      </div>

      <div class="people-carousel">
        <h2>Schools we've worked with</h2>
        <i class='bx bx-chevron-left prev'></i>
        <i class='bx bx-chevron-right next'></i>
        <div class="venue-container">
          <div class="venue-item">
            <div class="img">
              <img src="/Img/lugogo.jpg" alt="Mr Fish World Swimming pool">
            </div>
            <div class="info">
              <h3>Lugogo Junior School</h3>
            </div>
          </div>

          <div class="venue-item">
            <div class="img">
              <img src="/Img/time-to-play.jpg" alt="Mr Fish World Swimming pool">
            </div>
            <div class="info">
              <h3>Time2play Junior School</h3>
            </div>
          </div>

          <div class="venue-item">
            <div class="img">
              <img src="/Img/hormisdalen.jfif" alt="Mr Fish World Swimming pool">
            </div>
            <div class="info">
              <h3>Hormisdallen School Kyebando</h3>
            </div>
          </div>

          <div class="venue-item">
            <div class="img">
              <img src="/Img/litle.jpg" alt="Mr Fish World Swimming pool">
            </div>
            <div class="info">
              <h3>Little Junior Stars, Najeera</h3>
            </div>
          </div>

          <div class="venue-item">
            <div class="img">
              <img src="/Img/orel.jpg" alt="Mr Fish World Swimming pool">
            </div>
            <div class="info">
              <h3>Orel Vine School, Najeera</h3>
            </div>
          </div>

          <!-- <div class="venue-item">
            <div class="img">
              <img src="/Img/orel.jpg" alt="Mr Fish World Swimming pool">
            </div>
            <div class="info">
              <h3>Legacy Secondary School</h3>
            </div>
          </div> -->
        </div>
           
    
      </div>
      
      <div class="wave wave1"></div>
      <div class="wave wave2"></div>
      <div class="wave wave3"></div>
      <div class="wave wave4"></div>
      
    </section>

    <div class="crash-course" id="swimming-courses">

      <div class="services">
        
        <div class="why-us">
          <div class="wrapper"></div>
          <div class="bubble-2"></div>
          <div class="bubble-3"></div>
          <div class="bubble-4"></div>
          
        </div>
        <div class="content">
          <h2>Why Us?</h2>
          <p>
            Register your school swim team for national and regional competitions with SwimworldUG. Connect talented swimmers with elite clubs like BLACKPANTHER, DOLPHINS, and more. Join SWIMWORLDUG events and benefit from exposure through our website, social media, and school staff. Unlock monetization skills for rewarding careers as lifeguards, instructors, and coaches. Dive into the world of swimming in Uganda with SwimworldUG.
          </p>
        </div>
      </div>

      <div class="crash-course-header">
        <h2>Learn swimming with SWIMWOLRDUG wether you are old or young.</h2>
        <p>At SWIMWORLDUG, age is just a number. We nurture the passion for swimming in Uganda across all age brackets. Our flexible swimming plans cater to everyone, with options starting at 55,000 UGX per week for 3 days, 220,000 UGX monthly for three days a week and 40,000 UGX on weekends(Sat & Sun). Join us and dive into the world of swimming in Uganda with SWIMWORLDUG, where everyone is welcome to make a splash</p>
      </div>
      <div class="course-container">
        <div class="course">
          <i class='bx bx-swim'></i>
          <div class="info">
            <h3>Swimming Plans for Adults</h3>
            <button class="btn-courses" onclick="openFormAdult()"><a href="#">Join</a></button>
          </div>
        </div>
        <div class="course">
          <i class='bx bx-swim'></i>
          <div class="info">
            <h3>Swimming Plans for Kids</h3>
            <button class="btn-courses" onclick="openFormKid()"><a href="#">Join</a></button>
          </div>
        </div>
        <div class="course">
          <i class='bx bx-swim'></i>
          <div class="info">
            <h3>Swimming Plans for Schools</h3>
            <button class="btn-courses" onclick="openFormSchool()"><a href="#planSchool">Join</a></button>
          </div>
        </div>
        <div class="course">
          <i class='bx bx-swim'></i>
          <div class="info">
            <h3>Medical Swimming Therapy</h3>
            <button class="btn-courses" onclick="openForm()"><a href="#">Join</a></button>
          </div>
        </div>
      </div>
    </div>


  <div class="training-stories">
    <div class="wave-d wave1"></div>
    <div class="wave-d wave2"></div>
    <div class="wave-d wave3"></div>
    <div class="wave-d wave4"></div>

    <div class="certificate">
      <img src="/Img/fina-coaches.jpg"  alt="Fina Coaches Programme">
      <img src="/Img/swim-safe-ug.jfif" alt="Swim Safe Uganda">
      <img src="/Img/life-saving-assoc-ug.jpg" alt="Life Saving Association Uganda">
      <img src="/Img/nile-voc-ins.png" alt="Nile Vocational Institute">
    </div>
    <!-- Video Loop -->
    <div class="video-loop">
        <!-- Add your looped video source here -->
        <video autoplay loop muted>
          <source src="/video/swim-video.mp4" type="video/mp4">
          Your browser does not support the video tag.
      </video>

      <!-- Overlay with Text and Play Button -->
      <div class="overlay">
          <h1>Training Stories</h1>
          <button class="play-button" onclick="openVideoPlayer()">&#9654; Play</button>
      </div>

      <div class="video-player-container" id="videoPlayerContainer">
        <video controls autoplay loop muted class="video-player" controls controlslist="nodownload nofullscreen noremoteplayback">
            <source src="/video/swim-video.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        <span class="close-button" onclick="closeVideoPlayer()">&times;</span>
      </div>
    </div>

    <!-- Carousel for Trained People -->
    <!--   <div class="people-carousel">
        <h2>More Trainee Stories</h2>
        <i class='bx bx-chevron-left prev'></i>
        <i class='bx bx-chevron-right next'></i>
        <div class="story-carousel">
          <div class="story-carousel-item">
              <div class="img">
              <img src="/Img/boy-with-gagos.jpeg" alt="Person 1">
              </div>
              <div class="info">
                <h3>Mis Immeria</h3>
                <p>Trained in: 2023</p>
                <button class="btn-courses"><a href="#">Read Story</a></button>
              </div>
          </div>
          <div class="story-carousel-item">
              <div class="img">
              <img src="/Img/girl-in-water.jpeg" alt="Person 1">
              </div>
              <div class="info">
                <h3>Mis Immeria</h3>
                <p>Trained in: 2023</p>
                <button class="btn-courses"><a href="#">Read Story</a></button>
              </div>
          </div>
          <div class="story-carousel-item">
              <div class="img">
              <img src="/Img/woamn-diving.jpeg" alt="Person 1">
              </div>
              <div class="info">
                <h3>Mis Immeria</h3>
                <p>Trained in: 2023</p>
                <button class="btn-courses"><a href="#">Read Story</a></button>
              </div>
          </div>
          <div class="story-carousel-item">
              <div class="img">
              <img src="/Img/woman-in-water.jpeg" alt="Person 1">
              </div>
              <div class="info">
                <h3>Mis Immeria</h3>
                <p>Trained in: 2023</p>
                <button class="btn-courses"><a href="#">Read Story</a></button>
              </div>
          </div>
          <div class="story-carousel-item">
              <div class="img">
              <img src="/Img/man-with-hand-pad.jpeg" alt="Person 1">
              </div>
              <div class="info">
                <h3>Mis Immeria</h3>
                <p>Trained in: 2023</p>
                <button class="btn-courses"><a href="#">Read Story</a></button>
              </div>
          </div>
          <div class="story-carousel-item">
              <div class="img">
              <img src="/Img/man-half-water.jpeg" alt="Person 1">
              </div>
              <div class="info">
                <h3>Mis Immeria</h3>
                <p>Trained in: 2023</p>
                <button class="btn-courses"><a href="#">Read Story</a></button>
              </div>
          </div>
      </div>

      
    
    </div> -->
</div>

<div class="contact-info">

  <div class="numbers">

    <div class="info">
      <h1>1000+</h1>
      <p>People Trained</p> 
    </div>
    <div class="info">
      <h1>5+</h1>
      <p>Years in this Proffession</p>
    </div>
  </div> 

  <div class="info">
    <h2>Picked interest in any of SWIMWORLDUG's Services or need clarity about anything regarding our swimming in Uganda? </h2>
    <div class="contact-btns">
      <button class="btn-courses"><a href="tel:+256705164400">Contact Swimworldug</a></button>
    </div>
  </div>
</div>

<div class="equip">
  <div class="equip-header">
    <h2>Need Supply for Good Quality Equipment for swimming in Uganda?</h2>
    <p>At SWIMWORLDUG, we understand that having the best equipment and gear is essential for enhancing swimming endurance, technique, and strength. That's why we offer a wide range of high-quality swimwear and accessories, including swim suits, goggles, swim caps, kickboards, hand paddles, and more—all at affordable prices.</p>
  </div>
  <div class="equip-container">
    <div class="equip-item">
      <div class="img">
        <img src="/Img/swimming-equipment.webp" alt="Swimming equipments">
      </div>
      <div class="info">
        <h3>All proffessional swimming gear</h3>
        <button class="btn-courses"><a href="shop">Shop</a></button>
      </div>
    </div>
  </div>
</div>


<div class="review">
  <div class="review-slider">
    <h2>Client Reviews</h2>
    <div class="slider">
        <!-- Carousel content goes here -->
        <div class="slider-item">
            <div class="info">
              <i class='bx bx-user-circle'></i>
              <h3>George Katongole</h3>
            </div>
            <p>I entrusted SWIMWORLUG with training my son George Junior on learning how to swim.
              I was very impressed on the skills he used to help him overcome the fear for the deep end and learn how to brave on his own.</p>
        </div>
        <div class="slider-item">
            <div class="info">
              <i class='bx bx-user-circle'></i>
              <h3>Jenny Barnard</h3>
            </div>
            <p>SWIMWORLUG has been giving my 6 year old lessons on the weekend. He is patient and makes it really fun! My son really enjoys and has been learning a lot!</p>
        </div>
        <div class="slider-item">
            <div class="info">
              <i class='bx bx-user-circle'></i>
              <h3>Aalituha Marvin</h3> 
            </div>
            <p>Coaches at SWIMWORLUG are very skilled ,have a good acumen in training patient with their students , it is a great character that describes their services. Thank you SWIMWORLUG.</p>
        </div>
        <div class="slider-item">
            <div class="info">
              <i class='bx bx-user-circle'></i>
              <h3>Denno</h3>
            </div>
            <p>The swimming instructors at SWIMWORLUG are very knowledgeable, skilled and patient as a sign of empathy to their clients , I would greatly recommend</p>
        </div>
        <div class="slider-item">
            <div class="info">
              <i class='bx bx-user-circle'></i>
              <h3>Doreen Davinia</h3>
            </div>
            <p>Very serene and organized place,I reccomend everyone with children to take their children for safe swimming lessons and training.</p>
        </div>
        <div class="slider-item">
            <div class="info">
              <i class='bx bx-user-circle'></i>
              <h3>Terry Kahuma</h3>
            </div>
            <p>Good, enriching experience. Thank you.</p>
        </div>
       

        <!-- Add more carousel items for additional trained people -->
  </div>
</div>