<div class="main-blog single">

    <div class="hero">
        <div class="hero-bg"></div>
        <img src="Img/home.jpeg" alt="">
        <div class="overlay">
          <h1>Terms and Conditions of operation at SWIMWORLDUG</h1>
        </div>
    </div>
    <div class="content-box">
        <!-- Main Content -->
<div class="content about-page">
    <article class="disclaimer">
        <h2>Disclaimer</h2>
        <p>
            PLEASE READ THE CODE OF CONDUCT & RULES AND REGULATIONS CAREFULLY; they have been formulated to
            provide for the safe use and enjoyment of SWIMWORLDUG(SWUG)  services. It is the Principal Member’s responsibility to know
            and abide by these Rules and Regulations and to ensure the same of their family members and their guests.
            Violations may result in disciplinary action, including ejection from the premises and suspension from SWUG.
            privileges. The SWUG Manager is responsible for the operation of the facilities under the direction of the
            Board of Directors. The SWUG Manager and his Staff have the authority to enforce all Rules and Regulations.
            Violations should be reported to the SWIG Manager, any member of the SWUG Staff, or any current member of
            the Board of Directors. Final action, when punitive measures are required, rests with the Board of Directors
        </p>
    </article>

    <section id="projects" class="featured-projects abt-page">
        <div class="container">
    
            <!-- aboutus info headings -->
            <ul class="service-menu">
                <li class="active" data-service="travel-policy">Codes of Conduct</li>
                <li data-service="help-and-faq">Admission</li>
                <li data-service="why-travel">Training Hours</li>
                <li data-service="contact-us">Necessary Equipment</li>
                <li data-service="privacy-policy">The Parents</li>
                <li data-service="new-norms">Safety and Protection</li>
                <li data-service="payment">Payment Plans</li>
                <li data-service="lost&found">Lost and Found</li>
            </ul>
    
            <!-- aboutus info -->
            
            <div class="project-cards">
                <div class="project" data-service="travel-policy">
                    <div class="project-details aboutus">
                        <h3>Codes of Conduct</h3>
                        <p>
                            SWIMWORLDUG( SWUG) strives to create an atmosphere of respect and courtesy. Appropriate social behavior
                            and treatment of others is expected of all SWUG members and guests. SWUG has long been a hub for neighborhood social activity where individuals and families can relax, enjoy, and celebrate life in the most memorable ways! <br>
                            To keep the SWUG atmosphere safe and enjoyable for everyone, abusive behavior will not be accepted or
                            tolerated of anyone participating in any SWUG activities or during the use of SWUG facilities. Reckless behavior,
                            audible profanity or any action that would likely lead to the endangerment of others is strictly forbidden and is
                            cause for immediate disciplinary action. <br>
                            Any SWUG contracted staff person or Board Member shall be authorized to enforce the Code of Conduct along
                            with any rules and regulations applicable to the facility or sanctioned activity. Verbal instructions or warnings
                            provided by SWUG staff or Board Members must be followed as they are applicable to the Code of Conduct and
                            General Rules. Any person acting contrary to the aforementioned standards, repeatedly violating any general
                            rules, or willfully causing damage to SWUG property, including acts of vandalism or theft, may be subject to:
                            <ul>
                                <li>A verbal warning</li>
                                <li>An indefinite suspension of the privilege of using SWUG facilities or sanctioned in participating in SWUG activities.</li>
                                <li>Revocation of membership.</li>
                                <li>Legal action.</li>
                              </ul>
                            SWUG Members and guests are encouraged to report problematic behavior to a SWUG Board Member in the event
                            said behavior is not addressed by SWUG staff at the time of the occurrence.    
                        </p>
                    </div>
                </div>
                <div class="project" data-service="help-and-faq">
                    <div class="project-details aboutus">
                        <h3>Admission</h3>
                        <p>
                            1.Only qualified adults and children in good standing( Health) with medical proof and their guests (as defined under Guest Regulations and Fees
                            herein) will be admitted.
                            2.Only for Medical swimming purposes such stroke, autism, back pain , weightloss , body pain etc, will only a child or Adult be admitted with medical proof or with health guardian notification to the Swimming Teacher.
                            3.Member Identification
                            The SWUG Staff will only admit members of the club upon verification of their active status. Members
                            should have their picture on file with SWUG for identification and verification. If the member does not
                            have a current picture on file, then they are to provide the office staff with their full name or membership
                            number and address and date of birth. Any non-member found to be using a member’s name or
                            membership number will be banned from the SWUG.
                            4.Any member that is found to be providing membership
                            information to a non-member so that admittance to SWUG can be obtained, will be fined by the Board of Directors. Any repeated attempt will result in loss of SWUG privileges for one year.
                            Note:
                            Admission fee: 30,000/= ugx. This includes;
                            Admission  form.
                            Members ID.
                            SWUG Journal.
                            Annual membership fee: 50000/= ugx. 
                            Please Note 
                            This Admission form information is valid for a year.( Incase of any uncertainties  with thd information,  you are required to change it with SWUG.)
                        </p>
                    </div>
                </div>
                <div class="project" data-service="why-travel">
                    <div class="project-details aboutus">
                        <h3>Training Hours</h3>
                        <p>We have training sessions according to purpose.
                            Learn to swim/Survival skills, 
                            Competitive swimming knowledge, 
                            Swimming Career Courses and 
                            Medical swimming therapies.
                        </p>
                            <h3>Week days</h3>
                            <ul>
                                <li>Morning sessions 9:00 am to 11:00 am.</li>
                                <li>Evening sessions 2:00 pm to 4:00 pm.</li>
                            </ul>
                            <h3>Weekends:</h3>
                            <ul>
                                <li>Only Morning sessions: 9:00 am to 2pm.</li>
                                <li>Competitive training starts at 3:30 pm to 7 pm.( Paid partnership with BLACK PANTHER SWIM CLUB)</li>
                            </ul>
                            <h3>Exception:</h3>
                            <p>
                                Closing time is 5:00 pm on both weekends and week days to access the SWUG services. <br>
                            For special events, the lessons will be paused for 30 to 60 min as the Club manager will communicate. <br>
                            All members are required to vacate the premises at once after the lessons to give room for public events. <br>
                            The pool may be deemed temporary closed at anytime by the SWUG Manager incase of maintenance, safety or weather reasons
                            </p>
                    </div>
                </div>
                <div class="project" data-service="contact-us">
                    <div class="project-details aboutus">
                        <h3>Necessary Equipment</h3>
                        <p>
                            <ul>
                                <li>Swimming Costume</li>
                                <li>Goggles</li>
                                <li>Swim Cap</li>
                                <li>Kickboard and Noodle (for children below 4 yrs)</li>
                                <li>Pullbuoy</li>
                                <li>Fins</li>
                                <li>Mesh bag</li>
                                <li>Swim paddles</li>
                                <li>Water bottle</li>
                                <li>Personal towel</li>
                                <li>Toiletries</li>
                                <li>Facial or Skin oil/Vaseline</li>
                              </ul>
                        </p>
                    </div>
                </div>
                <div class="project" data-service="privacy-policy">
                    <div class="project-details aboutus">
                        <h3>The Parents</h3>
                        <p>
                            <ol>
                                <li>As SWIMWORLDUG, we are put more value and interest to involve the parents into understanding the different phases of developmental swimming through which we follow in the learning process.</li>
                                <li>
                                  Swimming lessons (Ages 3 to 7)
                                  <ol>
                                    <li>We select a quality learn how to swim program for your child.</li>
                                    <li>We focus on how your child learns how to swim rather than one who offers swimming lessons.</li>
                                  </ol>
                                </li>
                                <li>Generally you will get what you pay for. Many places offer inexpensive swimming lessons. You want your child to learn how to swim and feel safe around water, you make monthly payments or annual and you are not satisfied, this changes from inexpensive swimming lessons to waste of time, efforts.</li>
                                <li>Research from other satisfied clients, we guarantee our best not to make you feel unsatisfied for what you paid for.</li>
                                <li>Let the teacher teach, if your child has special needs the instructor needs to know otherwise, stay out it.</li>
                                <li>At swimworldug, we look for attention to detail in the swimming techniques, our values focus on beliefs that swimming is a technique limited sport. If your child ain't taught the proper techniques, it will permanent damage for a lifetime.</li>
                                <li>Your child will not always be happy lessons. Yes, she isn't happy with doing something new. Console yourself that you are giving your child a lifetime saving, survival skill, that they will be happy to stand out to be among the few who can. He will appreciate the efforts so stick to it.</li>
                                <li>Thank the swimming instructor daily, very few earn much money from swimming lessons. It is a service done by passionate love and passing on skills of something they love to stay alive. Simply magnifying the "thank you" is a great way to support dedicated swimming teachers out there.</li>
                                <li>Person/Child who doesn't have good balance with the English or Luganda language should be accompanied by a person who at least will ease communication between the Swimming Teacher and the person/child please.</li>
                                <li>At SWIMWORLDUG we use our swimming lessons of our clients, as part of marketing on social media platforms, please to be part of us implies you are willing to be part of our swimming content.</li>
                                <li>Those interested to have swimming career knowledge, such as Lifeguards, Swimming Teacher, Swimming Officials, Swimming Instructors. This skill can be one of the few profession territories to explore it can be for you or your child.</li>
                              </ol>
                        </p>
                    </div>
                </div>
                <div class="project" data-service="new-norms">
                    <div class="project-details aboutus">
                        <h3>Safety and Protection</h3>
                        <p>Children below 18 years must be accompanied by a guardians/parents who have to take care of them, responsible for their conduct. Supervision of kids is parents responsibility not Lifeguards or Coaches.
                            
                        </p>
                    </div>
                </div>
                <div class="project" data-service="payment">
                    <div class="project-details aboutus">
                        <h3>Payment Plans</h3>
                        <p><ol>
                            <li>
                              <strong>PAYMENT OPTION (LEARN HOW TO SWIM)</strong>
                              <ul>
                                <li>55K WEEKLY (3 DAYS A WEEK)</li>
                                <li>220K MONTHLY (3 DAYS A WEEK EXCEPTION WEEKENDS)</li>
                                <li>40K WEEKENDS (SAT & SUN)</li>
                              </ul>
                              Including:
                              <ul>
                                <li>Creating a good personal follow-up on an individual level.</li>
                                <li>Swimming workouts tailored on a private individual level at your learning pace.</li>
                                <li>Personalized interviews, evaluating different learning strategies to fit you.</li>
                                <li>Real-time guidance as you practice a technique.</li>
                                <li>Personal swimming track through SWUG Journal.</li>
                                <li>Customized Personalized Workouts and real-time analysis.</li>
                                <li>Personalized interviews and technique analysis and guidance at your learning pace.</li>
                                <li>Video analysis for your technique perfection.</li>
                                <li>Post-workout analytics and data on a personalized level.</li>
                              </ul>
                            </li>
                            <li>
                              <strong>WEIGHT LOSS, FITNESS, AND MEDICAL SWIMMING THERAPIES</strong>
                              <ul>
                                <li>350K MONTHLY (4 DAYS A WEEK EXCLUDING WEEKENDS)</li>
                              </ul>
                              Include:
                              <ul>
                                <li>High-efficiency swimming techniques aimed to increase more swimming mileage to enable the body workout more as well as having fun at the same time.</li>
                                <li>Standard diet knowledge, timely intense workouts as you have fun.</li>
                                <li>Customized Personalized Workouts and real-time analysis.</li>
                                <li>Video analysis for your technique perfection for you to have a picture of how you swim.</li>
                                <li>Personalized interviews and technique analysis and guidance at your learning pace.</li>
                              </ul>
                            </li>
                            <li>
                              <strong>COMPETITIVE SWIMMING TRAINING</strong>
                              <ul>
                                <li>200K MONTHLY partnership with BLACK PANTHER SWIM CLUB.</li>
                                <li>Exception of Tuesdays and Sundays.</li>
                              </ul>
                              Include:
                              <ul>
                                <li>Competitive swimming opportunities, to elite swim clubs, events to nationals Qualifications, local international school events, inter club events. More complete dive into Competitive swimming knowledge.</li>
                                <li>Swimming Workouts to build Competitive trials such as Endurance, speed, and agility etc.</li>
                              </ul>
                            </li>
                            <li>
                              <strong>CAREER GUIDANCE KNOWLEDGE</strong>
                              <ul>
                                <li>Those interested in having swimming career knowledge, such as Lifeguards, Swimming Teacher, Swimming Officials, Swimming Instructors. This skill can be one of the few profession territories to explore,</li>
                                <li>400K MONTHLY (Lacks swimming skills)</li>
                                <li>300K MONTHLY (Equipped with swimming skills)</li>
                              </ul>
                              Include:
                              <ul>
                                <li>Professional swimming skills.</li>
                                <li>Technical operations of the pump used to clean the pool.</li>
                                <li>Proper swimming techniques, Training skills and psychology approach towards training how to swim.</li>
                                <li>The Ethics of the professional world of swimming. How to handle the different types of swimming clients and how to make sure they learn.</li>
                                <li>After the classes, certification of proof will be awarded. SWUG want to keep the passion of the swimming services on, and that is the goal.</li>
                              </ul>
                            </li>
                          </ol>
                        </p>
                    </div>
                </div>
                <div class="project" data-service="lost&found">
                    <div class="project-details aboutus">
                        <h3>Lost and Found</h3>
                        <p><ul>
                            <li>SWUG is not responsible for any lost property on the premises.</li>
                            <li>Theft is a serious violation of the safety protocols of SWUG members and is highly discouraged. Penalties for theft are of equal weight.</li>
                            <li>Lost and found property will be kept for a week, after which it will be disposed of.</li>
                          </ul>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

    </div>
</div>