/* Reset some default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --MAIN-COLOR:#1DA1F2 ;
  --HEADER-FOOTER: #1F51FF;
}

html {
  scroll-behavior: smooth;
  width: 100%;
  background-color: var(--MAIN-COLOR);
}

img {
  width: 100%;
}

body {
  width: 100%;
}

.main-shop {
  margin-top: 5em;
}

/* Top Section Styles */
.top-section {
  position: fixed;
  top: 0;
  left: 0;
  height: 2em;
  background-color: rgba(0, 0, 0, 0.411);
  padding: 5px 0;
  width: 100%;
  z-index: 1000;
}

.top-section-nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0 10%;
}

.top-section-nav-item {
    padding: 0 1em;
}

.language-dropdown {
  border-right: 1px solid #00000091;
}

.language-dropdown select {
  color: white;
  background-color: transparent;
  border: none;
}

.language-dropdown select option {
    background: #fff;
    color: rgb(37, 35, 35);
    border: none;
}

.sign-in-button button {
    background-color: transparent;
    border: none;
    color: #0000FF;
    cursor: pointer;
}

/* Bottom Section Styles */
.main-header {
    width: 100%;
    z-index: 1001;
    font-family: 'Poppins', sans-serif;
    position: fixed;
    top: 2em;
    left: 0;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.main-header.scrolled {
  background: #1F51FF;
  top: 0;
}

.bottom-section {
  position: relative;
  background: rgba(0, 0, 0, 0.199);
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0 10%;    
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 6%;
}

.logo img {
  max-width: 100%;
}

.logo p {
    color: white;
    font-size: 1.5rem;
}

/* Navigation Styles */
.main-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.main-nav li {
  padding: 1.2em 1.5em;
  border-bottom: 5px solid transparent;
  transition: all 0.3s ease;
}

.main-nav li:hover {
  border-bottom: 5px solid yellow;
}

.main-nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  display: block;
}

.btn-blue {
  background: var(--MAIN-COLOR);
  border: none;
  padding: 0.5em 1em;
  margin: 1.4em 1em;
  border-radius: 3px;
}

/* Menu */
.menu {
  margin: 0.8em;
  display: none;
}

.menu .bx-menu, .menu .bx-x {
  font-size: 2.5rem;
}

/* Overlay Form */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.726);
  z-index: 10000;
}

.form-container {
  max-width: 700px;
  margin: auto;
  padding: 1em;
  background: var(--MAIN-COLOR);
  border-radius: 3px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 10001;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.cost {
  background: var(--HEADER-FOOTER);
  padding: 0.5em 5%;
  border-radius: 3px;
  margin-top: -2em;
}

.cost span {
  color:yellow ;
  font-family: 'Poppins', sans-serif;
  font-size: 1.2rem;
}

.close-btn {
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 2rem;
  color: red;
}

form h3 {
  color: #fff;
  font-family: 'Poppins', sans-serif;
}

form fieldset {
  padding: 0.3em;
  border-radius: 2px;
  display: grid;
  grid-template-columns: 50% 50%;
  border: 1px solid yellow;
  margin-top: 1em;
}

.form-container legend {
  color: yellow;
}

form .input-box {
  margin-left: 0.5em;
}

.form-container label {
  display: block;
  margin-bottom: 8px;
  color: #fff;

}

.form-container input, .form-container select {
  padding: 3px;
  margin-bottom: 16px;
  box-sizing: border-box;
  border: 1px solid gray;
  background-color: gray;
}

.form-container button {
  background: var(--HEADER-FOOTER);
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100px;
  margin: 0.5em auto;
}

/* Hero */
.hero {
  width: 100%;
  height: 100vh;
  position: relative;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(7, 7, 7, 0.459), rgba(19, 18, 18, 0.418)); /* Adjust the opacity as needed */
}

.hero img {
  height: 100vh;
  width: 100%;
  z-index: -100;
  object-fit: cover;
  object-position: center center;
}

.hero .overlay {
  position: absolute;
  top: 35%;
  left: 0%;
  padding: 0 10%;
}

.hero .overlay h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 3.7rem;
  color: rgb(255, 255, 0);
}

.hero .overlay p {
  font-family: 'Poppins', sans-serif;
  color: #fff;
  font-size: 1.5rem;
  margin-top: 0.5em;
}

.hero .overlay .btn-blue {
  margin-top: 6em ;
}

.hero .overlay .btn-blue a {
  text-decoration: none;
  color: #fff;
  font-size: 1.3rem;
  font-family: 'Poppins', sans-serif;
}

.loop {
  height: 8em;
  width: 100%;
  background: gainsboro;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
}

.loop span {
  color: gray;
  font-size: 2.5rem;
  font-family: 'Poppins', sans-serif;
  font-style: italic;
  display: inline-block;
  padding:1em 2em;
  animation: moveText 10s linear infinite;
}

@keyframes moveText {
  0% {
      transform: translateX(0%);
  }
  100% {
      transform: translateX(-100%);
  }
}

/* Crash courses */
.crash-course {
  position: relative;
  padding: 3em 10% 8em 10%;
  height: auto;
  background: #fff;
  background-position: center center;
  z-index: 1;
}

.crash-course::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1000;
  background-image: linear-gradient(rgba(32, 32, 32, 0.404), rgba(22, 22, 22, 0.363)), url('/Img/crash-courses.jpg'); /* Replace with your background image path */
  background-size: cover; /* Adjust as needed */
  background-position: center; /* Adjust as needed */
  mask-image: url('/Img/mask-bg-img.png'); /* Replace with your mask image path */
  mask-size: cover; /* Adjust as needed */
}

.crash-course-header {
  display: flex;
  flex-flow: column;
  justify-content: center;
  margin: 1em 0;
}

.crash-course-header h2 {
  font-size: 2rem;
  font-family: 'Poppins', sans-serif;
  margin: 1em 0;
  text-align: center;
  padding-top: 1em;
  color: var(--MAIN-COLOR);
}

.crash-course-header p {
  text-align: center;
  font-size: 1.3rem;
  font-family: 'Roboto Condensed', sans-serif;
}

.crash-course .course-container {
  margin: 2em 0;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
}

.crash-course .course-container .course {
  margin-top: 1em;
  width: 450px;
  background: #fff;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
  border-radius: 2px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); 

}

.crash-course .course-container .course i {
  font-size: 5rem;
  color: var(--MAIN-COLOR);
}

.crash-course .course-container .course .info {
  padding: 1em 0;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.crash-course .course-container .course .info h3 {
  padding: 0 0.5em;
  font-size: 1.5rem;
  font-family: 'Poppins', sans-serif;
  text-align: center;

}

.trans {
  background: transparent;
  padding: 1em 2em;
  border: 1px solid var(--MAIN-COLOR);
  border-radius: 2px;
  margin-top: 1em;
  transition: all 0.3s ease;
}

.trans:hover {
  background: var(--MAIN-COLOR);;
}

.trans a {
  text-decoration: none;
  font-size: 1rem;
  font-family: 'Poppins', sans-serif;
  color: var(--MAIN-COLOR);
  transition: all 0.3s ease;
  display: block;
}

.trans a:hover {
  color: #fff;
}

/* Equipments */
.equip {
  position: relative;
  width: 100%;
  background-position: center center;
  background-color: var(--MAIN-COLOR);
  z-index: 1;
  margin-bottom: -3.2em;
  margin-top: -2em;
}

.equip::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
  background-image: url('/Img/crash-courses.jpg'); /* Replace with your background image path */
  background-size: cover; /* Adjust as needed */
  background-position: center; /* Adjust as needed */
  mask-image: url('/Img/mask-bg-img-invert.png'); /* Replace with your mask image path */
  mask-size: cover; /* Adjust as needed */
}

.equip-header {
  display: flex;
  flex-flow: column;
  justify-content: center;
  margin: 1em 10%;
}

.equip-header h2 {
  font-size: 2rem;
  font-family: 'Poppins', sans-serif;
  color: #fff;
  margin: 1em 0;
  text-align: center;
  padding-top: 1em;
}

.equip-header p {
  text-align: center;
  font-size: 1.3rem;
  font-family: 'Roboto Condensed', sans-serif;
  color: #fff;
}

.equip .equip-container {
  margin: 2em 10%;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
}

.equip .equip-container .equip-item {
  margin-top: 1em;
  margin-bottom: 3em;
  max-width: 550px;
  background: #fff;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-around;
  border-radius: 2px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); 

}

.equip .equip-container .equip-item i {
  font-size: 5rem;
}

.equip .equip-container .equip-item .info {
  padding: 1em 2em;
}

.equip .equip-container .equip-item .info h3 {
  font-size: 1.5rem;
  margin: 1em 0;
  font-family: 'Poppins', sans-serif;
  position: relative;

}

.equip .equip-container .equip-item .info h3::after {
  content: "";
  display: block;
  width: 2em; /* Adjust the length of the line as needed */
  height: 4px; /* Adjust the thickness of the line as needed */
  background-color: rgb(255, 255, 0);; /* Adjust the color of the line as needed */
  position: absolute;
  bottom: -20%;
  left: 0;
}

.equip .equip-container .equip-item .info p {
  font-family: 'Roboto Condensed', sans-serif;
}

/* student stories */
.training-stories {
  position: relative;
  width: 100%;
  background: var(--MAIN-COLOR);
  padding: 13em 0;
  z-index: 6;
}

.wave-d{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: url('/Img/wave-2.png');
  background-size: 1000px 100px;
}

/* Certificate */
.certificate {
  position: absolute;
  top: -8%;
  width: 80%;
  background: #fff;
  margin: 2em 10%;
  padding: 1em;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
  border-radius: 3px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.certificate img {
  width: 150px;
  height: auto;
}

.video-loop {
  margin: 0 5%;
  overflow: hidden;
  position: relative;
  background: var(--MAIN-COLOR);
  z-index: 10;
}

.video-loop video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video-loop .overlay {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -100%);
  text-align: center;
  color: white;
  z-index: 2; /* Ensure the overlay is on top of the video */
}

.video-loop .overlay h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 3.5rem;
}

.overlay-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Faint background color */
  z-index: 1; /* Place behind the overlay and video */
}

.play-button {
  display: inline-block;
  background-color: white;
  color: black;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 10px;
}

/* Pop up player */
.video-player-container {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 87%;
  transform: translate(-50%, -50%);
  z-index: 10000000000; /* Ensure the video player is on top of the overlay and video */
  display: none;
  padding: 0.5em;
  background: #d1d1d1;
  border-radius: 5px; /* Initially hide the video player */
}

.video-player {
  width: 100%; 
  border-radius: 5px;/* Adjust the width of the video player */
}

/* Additional styling for the close button */
.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 4rem;
  cursor: pointer;
  color: #fff;
}

.people-carousel {
  width: 100%;
  margin-top: 3em;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 10;
}

.people-carousel h2 {
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-size: 2.5rem;
  align-items: center;
}

.people-carousel .next {
  position: absolute;
  top: 50%;
  right: 2%;
  font-size: 4em;
  color: yellow;
  cursor: pointer;
  z-index: 100;
}

.people-carousel .prev {
  position: absolute;
  top: 50%;
  font-size: 4em;
  color: yellow;
  left: 2%;
  cursor: pointer;
  z-index: 100;
}

.story-carousel {
  width: 100%;
  margin: 3em 0;
  scroll-snap-type: x mandatory;
  overflow: hidden;
}

.story-carousel-item {
  display: inline-block;
  flex: 0 0 auto;
  width: 300px; /* Adjust the width of each carousel item */
  margin-right: 20px; /* Adjust the spacing between carousel items */
  scroll-snap-align: start;
}

.story-carousel-item img {
  width: 100%;
  height: auto;/* Optional: Add rounded corners to images */
}

.story-carousel-item .info {
  display: flex;
  flex-flow: column nowrap;
  padding: 1em 1em;
  background: #fff;
}

.story-carousel-item .info h3 {
  padding-bottom: 0.5em;
  font-family: 'Poppins', sans-serif;
}

.story-carousel-item .info p {
  font-family: 'Roboto Condensed', sans-serif;
}

/* Numbers section */
.numbers {
  position: absolute;
  top: -50%;
  padding: 0 1em;
  background-image: url('/Img/numbers-bg.webp');
  background-position: center;
  margin: 2em 10%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  width: 80%;
  border-radius: 3px;
  z-index: 11;
}

.numbers .info {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
}

.numbers .info h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 3rem;
  position: relative;
  margin-bottom: 0.5em;
}

.numbers .info h1::after {
  content: "";
  display: block;
  width: 1em; /* Adjust the length of the line as needed */
  height: 6px; /* Adjust the thickness of the line as needed */
  background-color: rgb(255, 255, 0);; /* Adjust the color of the line as needed */
  position: absolute;
  bottom: -10%;
  left: 0;
}

.numbers .info p {
  font-family: 'Poppins', sans-serif;
}

/* Contact info */
.contact-info {
  position: relative;
  background: rgb(255, 255, 0);
  padding-top: 8em;
}

.contact-info .info {
  margin: 0 10%;
  padding: 3em 0;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.contact-info .info h2 {
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

.trans.contact-btn {
  background: var(--MAIN-COLOR);
}

.trans.contact-btn a {
  color: rgb(255, 255, 0);
}

.trans.contact-btn a:hover {
  color: var(--MAIN-COLOR);
}

.trans.contact-btn:hover {
  background: transparent;
}

/* Venue */
.venue {
  position: relative;
  width: 100%;
  background-position: center center;
}

.venue::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1000;
  background-image: linear-gradient(rgba(15, 15, 15, 0.425), rgba(24, 24, 24, 0.404)), url('/Img/woamn-diving.jpeg'); /* Replace with your background image path */
  background-size: cover; /* Adjust as needed */
  background-position: center; /* Adjust as needed */
  mask-image: url('/Img/mask-bg-img.png'); /* Replace with your mask image path */
  mask-size: cover; /* Adjust as needed */
}

.wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: url('/Img/wave.png');
  background-size: 1000px 100px;
}

.wave1 {
  animation: animate 30s linear infinite;
  opacity: 1;
  z-index: 4;
  animation-delay: 0s;
  bottom: 0;
}

.wave2 {
  animation: animate2 15s linear infinite;
  opacity: 0.5;
  animation-delay: -5s;
  z-index: 3;
  bottom: 10px;
}

.wave3 {
  animation: animate 30s linear infinite;
  z-index: 2;
  opacity: 0.2;
  animation-delay: -2s;
  bottom: 15;
}

.wave4 {
  animation: animate2 5s linear infinite;
  opacity: 0.7;
  animation-delay: -5s;
  z-index: 1;
  bottom: 20px;
}

@keyframes animate{
  0% {
    background-position-x: 0;
  }

  100% {
    background-position-x: 1000px;
  }
}

@keyframes animate2{
  0% {
    background-position-x: 0;
  }

  100% {
    background-position-x: -1000px;
  }
}

.venue-header {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin: 1em 10%;
}

.venue-header h2 {
  font-size: 2rem;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  margin: 1em 0;
  text-align: center;
  padding-top: 1em;
}

.venue-header p {
  text-align: center;
  font-size: 1.3rem;
  font-family: 'Roboto Condensed', sans-serif;
}

.venue .trans.contact-btn {
  background: var(--MAIN-COLOR);
  border: 1px solid rgb(255, 255, 0);
  border-radius: 2px;
}

.trans.contact-btn a {
  color: var(--HEADER-FOOTER);
  display: grid;
  grid-template-columns: 100%;
}

.trans.contact-btn a:hover {
  color: var(--MAIN-COLOR);
}

.trans.contact-btn:hover {
  background:rgb(255, 255, 0) ;
}

.venue-container {
  margin: 2em 0 3em 0;
  width: 98%;
  scroll-snap-type: x mandatory;
}

.venue-container .venue-item {
  margin: 0 1em;
  width: 30%;
  background: #fff;
  display: inline-block;
  flex: 0 0 auto;
  border-radius: 2px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); 
  overflow: hidden;

}

.venue-container .venue-item i {
  font-size: 5rem;
}

.venue-container .venue-item .info {
  padding: 1em 2em;
}

.venue-container .venue-item .info h3 {
  font-size: 1.5rem;
  margin: 1em 0;
  font-family: 'Poppins', sans-serif;
  position: relative;

}

.venue-container .venue-item .info h3::after {
  content: "";
  display: block;
  width: 2em; /* Adjust the length of the line as needed */
  height: 4px; /* Adjust the thickness of the line as needed */
  background-color: rgb(255, 255, 0);; /* Adjust the color of the line as needed */
  position: absolute;
  bottom: -20%;
  left: 0;
}

.venue-container .venue-item .info p {
  font-family: 'Roboto Condensed', sans-serif;
}


/* Review Slider */
.review-slider {
  background: #fff;
  padding: 20px;
  margin-top: 3em;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

.review-slider h2 {
  color: var(--MAIN-COLOR);
  font-family: 'Poppins', sans-serif;
  font-size: 2.5rem;
  text-align: center;
}

.slider {
  width: 100%;
  margin: 3em 0;
  scroll-snap-type: x mandatory;
  overflow: hidden;
}

.slider-item {
  display: inline-block;
  flex: 0 0 auto;
  width: 400px; /* Adjust the width of each slider item */
  margin-right: 20px; /* Adjust the spacing between slider items */
  scroll-snap-align: start;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); 
  padding:0 0.5em;
}

.slider-item .info {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  padding: 0.5em 0.5em;
  background: #fff;
  border-bottom: 1px solid #00000067;
}

.slider-item .info i {
  font-size: 2rem;
}

.slider-item .info h3 {
  padding-bottom: 0.5em;
  font-family: 'Poppins', sans-serif;
  color: var(--MAIN-COLOR);
}

.slider-item .info p {
  font-family: 'Roboto Condensed', sans-serif;
}

.slider-item p {
  font-family: 'Roboto Condensed', sans-serif;
  padding: 0.4em;
}


.footer {
  background: var(--HEADER-FOOTER);
  padding: 1em 10%;
  width: 100%;
}

.footer .upper-section {
  color: #fff;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 3em;
  border-bottom: 1px solid #0000006b;
}

.footer .upper-section h2 {
  font-size: 2rem;
  padding: 0.2em;
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

.footer .upper-section p {
  font-family: 'Noto Sans', sans-serif;
  text-align: center;
}

.footer .middle-section {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: center;
}

.logo-footer {
  max-width: 300px;
  text-align: center;
  color: #fff;
}

.logo-footer h1 {
  font-family: 'Poppins', sans-serif;
}

.logo-footer p {
  font-family: 'Noto Sans', sans-serif;
  padding: 0.5em 0;
}

.middle-section {
  margin: 0.5em 0;
}

.middle-section .contacts {
  display: flex;
  flex-flow: column nowrap;
}

.middle-section .contacts h3 {
  font-family: 'Poppins', sans-serif;
  color: #fff;
  font-size: 1.3rem;
  margin-bottom: 1em;
}

.middle-section .contacts a {
  color: #818080;
  text-decoration: none;
  font-family: 'Noto Sans', sans-serif;
  font-weight: bold;
}

.middle-section .social-media {
  display: flex;
  flex-flow: column nowrap;
  margin-top: 2em;

}

.middle-section .social-media h3 {
  font-family: 'Poppins', sans-serif;
  color: #fff;
  font-size: 1.3rem;
  margin-bottom: 1em;
}

.middle-section .socials .bx {
  font-size: 1.5rem;
  border: 1px solid #fff;
  border-radius: 50%;
  padding: 0.3em;
  margin-right: 0.5em;
}

  /* socials*/
.bxl-facebook {
  color: #1877F2;
}
.bxl-twitter {
  color: var(--MAIN-COLOR);
}
.bxl-youtube {
  color: #CD201F;
}
.bxl-linkedin {
  color: #CD201F;
}

.footer-iconTop a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  pad: 0.8rem;
  background: var(--MAIN-COLOR);
  border-radius: 0.8rem;
  transition: 0.5s ease;
}

.footer-iconTop a:hover {
  box-shadow: 0 0 1rem var(--MAIN-COLOR);
}

.footer-iconTop a i {
  font-size: 1.2rem;
  color: rgb(197, 197, 3);
}

.footer-btm {
  padding-top: 1em;
  width: 100%;
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  background: var(--SECOND-BG-COLOR);
  
}

.footer-text p {
  color: #fff;
  font-family: 'Noto Sans', sans-serif;
}

/* About page */
.about {
  width: 100%;
  padding: 9em 10%;
  z-index: -1000;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.instructor-content {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2em;
}

.instructor-content .instructor-text {
  max-width: 650px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 1em;
}

.instructor-content .instructor-text h1 {
  font-size: 2.3rem;
  margin-bottom: 0.7em;
  font-family: 'Poppins', sans-serif;
}

.instructor-content .instructor-text h1 span {
  color: rgb(218, 218, 3);
}

.instructor-content .instructor-text h3 {
  position: relative;
  font-size: 1.5rem;
  margin-bottom: 1em;
}

.instructor-content .instructor-text h3::after {
  content: "";
  display: block;
  width: 2em; /* Adjust the length of the line as needed */
  height: 4px; /* Adjust the thickness of the line as needed */
  background-color: rgb(255, 255, 0);; /* Adjust the color of the line as needed */
  position: absolute;
  bottom: -20%;
  left: 0;
}

.instructor-content .instructor-text p {
  color: #fff;
  text-align: center;
  line-height: 1.4em;
  margin-bottom: 01em;
  font-family: 'Noto Sans', sans-serif;
}

.instructor-text .button {
  background: yellow;
  border: none;
  padding: 0.5em 1.5em;
  border-radius: 3px;
  font-family: 'Poppins', sans-serif;

}

.team-container {
  margin-bottom: 2em;
}

.team-container h3 {
  margin-bottom: 1em;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  font-size: 1rem;

}

.team-container .team-members {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 2em auto;
}

.team-container h3.team {
  color: var(--BODY-TEXT-COLOR);
  font-size: 2rem;
}

.team-container h4 {
  color: var(--BODY-TEXT-COLOR);
}

.team-member {
  max-width: 400px;
  margin: 0.5em auto;
  background: var(--SECOND-BG-COLOR);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 1em;
  text-align: center;
}

.team-member img {
  max-width: 100%;
  border-radius: 50%;
  margin-bottom: 10px;
}

.team-member h4 {
  font-size: 1.2rem;
  margin-bottom: 5px;
  font-family: 'Poppins', sans-serif;
  color:#fff;
}

.team-member p {
  font-size: 1rem;
  color: #666;
}


.about-content {
  background-image: url('/Img/home.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  position: relative;
  padding-top: 6em;
  z-index: 11;
}

.about-content h1 {
  position: relative;
  padding-top: 2em;
  margin-bottom: 2em;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

.about-content h1::after {
  content: "";
  display: block;
  width: 3em; /* Adjust the length of the line as needed */
  height: 7px; /* Adjust the thickness of the line as needed */
  background-color: rgb(255, 255, 0);; /* Adjust the color of the line as needed */
  position: absolute;
  bottom: -20%;
  left: 0;
}

.about-content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(223, 222, 222, 0.452), rgba(192, 191, 191, 0.938)); 
  z-index: -10;/* Adjust the opacity as needed */
}

.about-content-item-container.start {
  margin: 0 10%;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 2em 0;
  z-index: 10;
} 

.about-content-item-container.end {
  margin: 0 10%;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 2em 0;
  z-index: 10;
}

.about-content-item-container .about-content-item {
  max-width: 600px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin-bottom: 1em;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  background: #fff;
  z-index: 2;
}

.about-content-item .img {
  height: 80px;
  width: 100%;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}

.about-content-item img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}

.about-content-item .info {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  padding: 0.5em;
}

.about-content-item .info h3 {
  font-size: 1.3rem;
  margin: 0.5em;
}

.about-content-item .info p {
  margin-bottom: 0.5em;
  text-align: center;
  padding: 0.5em;
}


/* Shop */
.col-lg-4 {
  margin-top: 3em;
}

.col-lg-8 .item {
  width: 100%;
  height: 430px;
}

.col-lg-8 .item img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}
/* Blogs */
.blog-wrapper {
  margin: 2em 10% 0 10%;
  display: grid;
  grid-template-columns: 70% 30%;
}

.trending-post {
  margin-right: 2.5em;
  margin-bottom: 2em;
}

.trending-post h2 {
  margin-bottom: 1em;
}

.post {
  display: flex;
  flex-flow: column nowrap;

}

.post .img {
  height: 70%;
}

.post .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.post-info {
  left: 2.5%;
  background-color: var(--MAIN-COLOR);
  width: 97%;
  margin: -1em auto 1em auto;
  padding: 1em;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  transition: all 0.3s;
}

.post-info:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); 
}

.post-info h5 {
  background-color: #fff;
  padding: 1em;
  margin-top: -3em;
  font-size: 0.6rem;
  min-width: 140px;
}

.post-info h2 {
  font-size: 1.3rem;
  margin: 0.5em;
}

.post-info p {
  margin: 01em;
  color: #fff;
}

.post-info i {
  color: rgb(201, 198, 198);
  font-size: 1.2rem;
  padding: 0.5em 0;
}

.post-info .author-date {
  margin: 1.5em;
}

.post-info .read-more {
  margin-top: 0.5em;
  background: rgb(141, 132, 132);
  width: 100%;
  display: grid;
  grid-template-columns: 94% 6%;
  align-items: center;
  transition: all 0.3s ease;
}

.post-info .read-more:hover {
  background: var(--HEADER-FOOTER);
  color: #fff;
}

.read-more i {
  background-color: var(--HEADER-FOOTER);
  padding: 0.5em;
}

.read-more a {
  padding-left: 1em;
  color: #fff;
  display: block;
}

.read-more a:hover {
  color: #fff;
  text-decoration: none;
}

.other-posts {
  display: grid;
  grid-template-columns: 46% 46%;
  gap: 4%;
}

.other-posts .post-info .read-more {
  display: grid;
  grid-template-columns: 88% 12%;
  align-items: center;
  transition: all 0.3s ease;
}

.post-nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  margin: 5em 0 3em 0;
}

.post-nav a {
  text-decoration: none;
  padding: 0.5em;
  color: #fff;
  background: var(--HEADER-FOOTER);
}


.popular-posts {
  margin-left: 2.5em;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.popular-posts h2 {
  font-size: 1.6rem;
  margin-bottom: 1em;
}

.popular-post {
  display: grid;
  grid-template-columns: 30% 70%;
  align-items: center;
  margin-bottom: 1.5em;
}

.popular-post .img {
  margin-right: 2em;
  height: 70px;
  width: 70px;
}

.popular-post .img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}

.popular-post h3 {
  font-size: 0.8rem;
}

.popular-post h3 a {
  color: #000;
}

.popular-post h3 a:hover {
  text-decoration: none;
}

.popular-post i {
  color: #fff;
}

.topics {
  margin-top: 2em;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  border-top: 1px solid var(--HEADER-FOOTER);
}

.topics h2 {
  margin-top: 1em;
  margin-bottom: 0.7em;
}

.topics h3 {
  font-size: 1.1rem;
  margin: 0.7em 0;
}

.topics h3 a {
  color: #000;
}

.topics h3 a:hover {
  text-decoration: none;
}


/* Responsive Styles */
@media (max-width:1000px) {
  .bottom-section {
    height: 4em;
    width: 100%;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 0.473);
    background: var(--HEADER-FOOTER);
  }

  .main-nav {
    position: absolute;
    top: 4em;
    right: 0;
    display:none;
    text-align: center;
    width: 100%;
    height: 95vh;
    background: var(--HEADER-FOOTER);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  }

  .main-nav.active {
    display: block;
  }

  .main-nav li {
    border-bottom: none;
  }

  .main-nav li:hover {
    border-bottom: none;
    transform: scale(1.1);
  }

  .main-nav a {
    color: #fff;
    display: block;
  }

  .logo p {
    color: #fff;
  }

  .menu {
    display: block;
  }

  .header {
    display: flex;
    flex-direction: row;
  }

  .training-stories .overlay h1 {
    font-size: 2rem;
  }

  .about {
    padding-top: 7em ;
  }
  
  .instructor-content .instructor-text h1 {
    font-size: 2rem;
    margin-bottom: 0.7em;
    font-family: 'Poppins', sans-serif;
  }
  
  .instructor-content .instructor-text h1 span {
    color: rgb(218, 218, 3);
  }
  
  .instructor-content .instructor-text h3 {
    position: relative;
    font-size: 1.5rem;
    margin-bottom: 1em;
  }

  .footer .middle-section {
    padding: 0.5em 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
  }

  /* Blog */
  .blog-wrapper {
    display: grid;
    grid-template-columns: 100%;
  }

  .trending-post {
    margin-right: 0em;
  }

  .post h2 {
    margin-top: -1em;
  }

  .topic {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 4%;
    margin-bottom: 3em;
  }
}

@media (max-width:795px) {
  .hero .overlay p {
    font-size: 1.5rem;
  }

  .loop {
    height: 5em;
  }

  .loop span {
    font-size: 1.5rem;
    padding:1em 1.5em;
  }

  .training-stories {
    padding-top: 20em;
  }

  .venue-header h2 {
    color: #fff;
  }

  .numbers {
    top: -40%;
  }

  .crash-course {
    background-color:#fff ;
  }

  .crash-course::before {
    display: none;
  }

  .crash-course .course-container {
    justify-content: center;
    align-items: center;
  }

  .crash-course .course-container .course {
    width: 100%;
    background: #fff;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    border-radius: 2px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); 
  
  }

  .crash-course .course-container .course .info {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.equip {
  background-color: #fff;
}

.equip-header h2 {
  color: var(--MAIN-COLOR);
}

.equip-header p {
  color: #000;
}

.equip::before {
  display: none;
}



.venue::before {
  display: none;
}

/* About */
.instructor-content {
  flex-flow: column nowrap;
  align-items: center;
}

.about-content {
  padding-top: 13em;
}
}

@media (max-width:765px) {
  .other-posts {
    display: grid;
    grid-template-columns: 100%;
  }

  .other-posts .post {
    margin-bottom: -6em;
  }

  .post-info:hover, .post-info.active {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  }

  .post-nav {
    margin-top: 27em;
  }

  .popular-posts {
    margin-top: 1.5em;
  }

  .product-action a.btn {
    margin-top: 0;
    opacity: 1;
  }

  .product-item:hover .product-action a.btn:not(:hover) {
    opacity: 0;
    margin-top: 100px;
  }
}


@media (max-width:720px) {
  .form-container {
    min-width: 240px;
    margin: auto 1em;
  }
}

@media (max-width:570px) {
  .info .contact-btns {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
  }


}

@media (max-width:550px) {
  .hero .overlay h1 {
    font-size: 2.3rem;
  }

.training-stories .overlay {
  top: 70%;
}

.training-stories .overlay h1 {
  font-size: 1.5rem;
}

.footer .middle-section .contacts {
  margin-top: 2em;
  text-align: center;
}
}

@media (max-width:414px) {

  .certificate {
    top: -25%;
  }

  .certificate.one {
    top: -15%;
  }
  .training-stories {
    padding-top: 23em;
  }

  .crash-course {
    padding-bottom: 24em;
  }

  .numbers {
    top: -35%;
  }

  .training-stories .overlay h1 {
    font-size: 1rem;
  }

  /* About */
  .about {
    padding-bottom: 20em;
  }

  .about-content {
    padding-top: 20em;
  }
}



/* ADMIN SECTION */
.auth-content {
  margin-top: 6.2em;
}

.auth-content.contact {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.auth-content.contact h2 {
  margin-bottom: 1em;
  font-family: 'Poppins', sans-serif;
}


.auth-content.contact form {
  padding: 1em 2em;
  border: 1px solid var(--MAIN-COLOR);
  border-radius: 5px;
  box-shadow: 0 0 0.5rem 0.5rem #000;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.auth-content.contact .input-box {
  margin: 0.5em;
}

.auth-content  input {
  padding: 5px;
  margin-bottom: 16px;
  box-sizing: border-box;
  border: 1px solid #fff;
  border-radius: 3px;
  background-color: gray;
}

.auth-content.contact label {
  color: #fff;
  font-family: 'Poppins', sans-serif;
}

form button {
  background: var(--HEADER-FOOTER);
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100px;
  margin: 0.5em auto;
}

.admin_wrapper {
  display: flex;
  height: calc(83.5vh);
  overflow-y: hidden;
}

.admin_wrapper .left-sidebar {
  flex: 2;
  height:100%;
  background: var(--MAIN-COLOR);
}

.admin_wrapper .admin-content {
  background: aliceblue;
  flex: 8;
  height: 100%;
  padding: 40px 100px 100px;
  overflow-y: scroll;
}

/* Dashboard  */
.bottom-section.admin {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

.admin_wrapper .admin-content .content form {
  background: none;
  padding: 0 0;
  margin: 0 0;
}

.admin_wrapper .admin-content .content table a:visited {
  color: var(--TEXT-COLOR);
}

.button-group {
  display: flex;
  gap: 3em;
  margin: 0 auto;
}

.admin-content .content {
  display: flex;
  flex-direction: column;
}

/* Add Posts */
.admin_wrapper .admin-content .content form.add-post label {
  font-size: 1rem;
  color: var(--TEXT-COLOR);
  
}
.admin_wrapper .admin-content .content form.add-post input.text-input {
  width: 100%;
  padding: 1.5rem;
  background: var(--SECOND-MAIN-COLOR);
  border-radius: 0.8rem;
  margin: 0.7rem;
}

.admin_wrapper .admin-content .content form.add-post select {
  padding: 0.5rem  3rem;
  font-size: 1rem;
  color: var(--TEXT-COLOR);
  background: var(--SERVICES-BG-COLOR);
  margin: 0.7rem;
}

.admin_wrapper .admin-content .content form.add-post #img-input {
  padding: 0.5rem  3rem;
  font-size: 1rem;
  color: var(--TEXT-COLOR);
  background: var(--SERVICES-BG-COLOR);
  margin: 0.7rem;
}



.admin_wrapper .left-sidebar ul li a {
  font-size:1.2rem ;
  color: var(--HEADER-FOOTER);
  text-decoration: none;
  padding: 18px;
  display: block;
  border-bottom: 1px solid aliceblue;
}

.admin_wrapper .left-sidebar ul li a:hover {
  background: aliceblue;
  color: var(--HEADER-FOOTER);
}

.admin_wrapper .left-sidebar ul li a:visited {
  color: var(--HEADER-FOOTER);
}

.admin-content {
  font-family: 'Poppins', sans-serif;
}

.admin-content a {
  text-decoration: none;
}

.admin-content .page-title {
  text-align: center;
  padding: 1em;
  color: var(--HEADER-FOOTER);
}

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 1.1rem;
}

table a {
  text-decoration: none;
  color: var(--HEADER-FOOTER);
}

th, td {
  text-align: left;
  border-bottom: 1px solid var(--HEADER-FOOTER);
}

.edit {
  color: green;
}

.delete {
  color: red;
}

.publish {
  color: blue;
}

.edit:hover, 
.delete:hover, 
.publish:hover {
  color: #fff;
  text-decoration: underline;
  transition: all 0.3s ease-out;
}

tr {
  line-height: 2em;
}
tr:hover {
  background: #32394652;
}
